$red:#d4164a;
$blue:#3d5da8;
$black:#000;
$text-alpha:#acabab;
$border:#999999;
$bg:#f7f7f7;
*{
	outline: none;
	border: 0;
	text-shadow: none;
	box-shadow: none;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}
body{
	width: 100%;
	position: relative;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.succes-decription{
	text-align: center;
	b.title-decription, span{
		text-align: center;
		font-style: italic;
		color: $blue;
		display: inline-block;
		width: 100%;
	}
	span{
		padding-bottom: 50px;
	}
	img{
		
		
		&.tick-img{
			width: 70px;
			margin: auto;
			display: block;
			margin-bottom: 20px;
			padding: 20px 0;
		}
	}
}
.ml-20{
	margin-left: 20px !important;
}
.btn-form-center{
	display: flex;
	margin-top: 20px;
	justify-content: center;
	text-align: center;
	button, a{
		width: initial !important; 
		padding-left: 30px !important;
		padding-right: 30px !important;
	}
}
.content-message{
	display: inline-block;
	width: 100%;
	p{
		padding: 20px;
		border-radius: 4px;
		margin-top: 20px;
		font-size: 14px;
		font-weight: 600;
		background: #F7F7F7;
		color: $blue;
		span{
			font-weight: normal;
			margin-top: 15px;
			color: $blue;
			display: inline-block;
			width: 100%;
		}
	}
	textarea{
		width: 100%;
		height: 200px;
		border: 1px solid $blue;
		padding: 15px;
		font-size: 16px;
	}
	
}
.total-messager{
	position: absolute;
    right: 430px;
    top: 22px;
    text-align: right;
	b{
		font-weight: bold;
		color:$blue;
		span{
			color:$blue;
			font-weight: normal;
		}
	}
}
.mobile-menu{
	display: none;
}

.visualisation-body{
	tr{
		&:hover{
			background: #E7EDFD !important;
		}
		td{
			vertical-align: middle;
			b{
				width: 100%;
				clear: both;
			}
		}
	}
}
body.no-fullscreen{
	.link-footer, .footer-login{
		position: relative;
		bottom: 0;
	}
	.body-project{
		height: initial !important;
		padding-bottom: 10px;
	}
	.table-data {
		padding-bottom: 10px;
	}
}
.infor-video{
	margin-top: 15px;
	h6{
		text-transform: uppercase;
		font-size: 16px;
	}
	i{
		color: $text-alpha;
	}
	.box-attach{
		width: 200px;
		height: 200px;
		border: 2px dashed #3D5DA8;
		background: white;
		display: flex;
		margin: 20px 0;
		align-content: center;
		-ms-flex-pack: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		transition: all .3s ease-in-out;
		button{
			background: none;
			width: 100%;
			span{
				display: inline-block;
				font-weight: bold;
				margin-top: 10px;
				width: 100%;
				color: #3D5DA8;
			}
		}
		&.box-attach-bg{
			background: url(../images/bg-attach.png) no-repeat center top;
			width: 831px;
			height: 467px;
			border: 0 !important;
			max-width: 100% !important;
			background-size: cover;
			button{
				b{
					color: white;
					font-style: italic;
					font-weight: normal;
					display: inline-block;
					width: 100%;
					margin-bottom: 10px;
				}
				span{
					color: white;
				}
				label{
					font-weight: bold;
					font-size: 18px;
					color: white;
				}
				p{
					font-weight: normal;
					font-size: 14px;
					color: white;
					display: inline-block;
					width: 100%;
				}
			}
		}
	}
}

.bt-UTILISATEURSExporter{
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-top: 10px !important;
	.button-Ajouter{
		width: 240px;
		a{
			padding: 6px 0;
			width: 100%;
			&.disable{
				background: #AFAFAF !important;
				cursor: pointer;
				pointer-events: none;
			}
		}
	}
	
}
.content-index{
	display: inline-block;
	width: 100%;
	background: white;
	text-align: left;
	margin-top: 78px;
	padding:53px 62px 47px 62px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	img{
		width: 200px;
		padding: 10px 0;
	}
	li{
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;
	}
	a{
		display: inline-block;
		width: 100%;
		padding: 10px 0;
		font-size: 16px;
	}
}
.login-form{
	width:100%;
	height: 100%;
	display: flex;
	text-align: center;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	position: fixed;
	h1{
		font-size: 40px;
		color: #d4164a;
		margin-bottom: 0;
		font-weight: bold;
		line-height: 55px;
	}
	b{
		color: $blue;
		font-size: 20px;
		font-weight: bold;
	}
}
.content-login{
	width: 507.9px;
	margin: auto;
	
}
.body-contact{
	max-width: 860px;
	margin: auto;
	position: relative;
	background: white;
	border-radius: 20px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	margin-top: 15px;
	padding:0px 50px 20px 50px;
	h2{
		font-size: 25px;
		color: #d4164a;
		margin-bottom: 0;
		text-transform: uppercase;
		display: inline-block;
		width: 100%;
		text-align: center;
		font-weight: bold;
		line-height: 55px;
		margin-bottom: 30px;
	}
}
.form-UTILISATEURSExporter{
	.form-group {
		margin-bottom: 10px !important;
	}
	.button-line{
		margin-top: 15px !important;
		&.mt-20{
			margin-top: 20px !important;
		}
	}
	.button-line button, .button-line a{
		height: 36px;
		padding: 8px 0 !important;
		font-size: 13px;
		max-width: 300px;
	}
}
.box-login{
	display: inline-block;
	width: 100%;
	background: white;
	text-align: left;
	margin-top: 30px;
	padding:30px 45px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 15px;
	button{
		height: 40px;
		width: 100%;
		display: inline-block;
		background: #3d5da8;
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		border-radius: 24.79px;
		margin-top: 25px;
		color: white !important;
		&:disabled{
			background: #AFAFAF !important;
			opacity: 1 !important;
			&:hover{
				color: white !important;
			}
		}
		&:hover{
			background: #f3f2dc;
			color: #677692 !important;
		}
	}
	h2{
		font-size: 26px;
		color: $blue;
		display: inline-block;
		width: 100%;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		margin-bottom: 28px;
	}
	
}
.form-group{
	label{
		display: inline-block;
		width: 100%;
	}
}
.border-none{
	border: 0 !important;
	b{
		font-weight: bold;
		color: $blue;
		font-size: 14px;
		display: inline-block;
		width: 100%;
		margin-top: 20px;
	}
	span{
		font-style: italic;
		color: $blue;
		font-size: 14px;
		margin-top: 20px;
		display: inline-block;
		width: 100%;
	}
}
.update-search-message{
	top: 12px !important;
}
.mot-de-pass{
	span{
		font-size: 13px;
		color: $blue;
		font-style: italic;
		display: inline-block;
		width: 100%;
		text-transform: none;
		margin-top: 20px;
		font-weight: normal;
	}
}
.notification-succes{
	display: inline-block;
	width: 100%;
	text-align: center;
	img{
		width: 23px;
		margin-right: 4px;
	}
	span{
		color: #44c4a1;
		font-style: italic;
	}
	
}
.logo{
	img{
		height: 42px;
	}
}
.letter-spacing-fied{
	letter-spacing: 20px;
}
.button-Ajouter{
	a{
		display: inline-block;
		height: 32px;
		border-radius: 32px;
		background: #3d5da8;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 13px;
		padding: 6px 30px;
		text-decoration: none;
		&:hover{
			background: #f3f2dc !important;
    color: #677692 !important;
		}
	}
}
.mt-30{
	margin-top: 30px !important;
}
.mt-10{
	margin-top: 10px !important;
}
.mb-20{
	margin-bottom: 20px !important;
}
.mb-30{
	margin-bottom: 30px !important;
}
.labguage-site{
	position: fixed;
	top: 30px;
	right: 30px;
	display: flex;
	a{
		margin-left: 10px;
	}
}
.btn-submit-box{
	display: inline-block;
	width: 100%;
	text-align: center;
}
button.btn-submit{
	height: 40px;
	width: 100%;
	max-width: 368px;
	display: inline-block;
	background: $blue;
	margin: auto;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	border-radius: 24.79px;
	margin-top: 20px;
	color: white !important;
	&:disabled{
		background: #AFAFAF !important;
		&:hover{
			color: white !important;
		}
	}
	&:hover{
		background: #f3f2dc;
		color: #677692 !important;
	}
}
.form-textarea{
	padding-right: 0 !important;
}
.popup-showup-body{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	text-align: center;
	z-index: 1;
	h6{
		font-size: 15px;
		text-align: left;
		font-weight: bold;
		color: $blue;
		line-height: 23px;
		position: relative;
		border-left: 3px solid $blue;
		padding-left: 30px;
	}
	&::before{
		position: fixed;
		width: 100%;
		height: 100%;
		background: black;
		opacity: .4;
		content: '';
		left: 0;
		top: 0;
		display: block;
	}
	.popup-showup-content{
		width: 92%;
		background: white;
		margin: auto;
		position: relative;
		display: flex;
		align-content: center;
		-ms-flex-pack: center !important;
		-ms-flex-align: center !important;
		align-items: center !important;
		transition: all .3s ease-in-out;
		border-radius: 20px 20px 0 0;
	}
}

.content-popup{
	width: 92%;
	background: white;
	margin: auto;
	padding: 25px 250px;
	position: relative;
	display: flex;
	align-content: center;
	-ms-flex-pack: center !important;
	-ms-flex-align: center !important;
	align-items: center !important;
	transition: all .3s ease-in-out;
	border-radius: 20px 20px 0 0;
}
.up-btn-popup{
	position: absolute;
	top: -10px;
	left: -10px;
	background: white;
	border-radius: 4px;
	padding:7px 10px;
	transform: rotate(180deg);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	display: inline-block;
	button{
		background: none;
	}
}
.btn-popup{
	position: relative;
	float: right;
    width: 300px;
	margin-left: 100px;
	.btn-profil{
		width: 260px;
		margin-bottom: 10px;
	}
}
form.filed{
	.form-group{
		margin-bottom: 20px;
		position: relative;
		padding-right: 37px;
		border-bottom: 1px solid $blue;
		display: inline-block;
		width: 100%;
		textarea{
			width: 100%;
			border: 1px solid $blue;
			padding: 15px;
			display: inline-block;
			height: 110px;
			margin-top: 10px;
		}
		span.le-message{
			text-align: right;
			font-style: italic;
			display: inline-block;
			width: 100%;
			color: $blue;
		}
		img{
			
			&.succes-filed{
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				right: 0;
				bottom: 9px;
			}
			&.error-filed{
				display: block;
				width: 20px;
				height: 20px;
				position: absolute;
				right: 0;
				bottom: 9px;
			}
		}
		label{
			color: $black;
			text-transform: uppercase;
			margin: 0;
			padding: 0;
		}
		input{
			box-shadow: none;
			border-radius: 0;
			font-size: 14px !important;
			border: 0;
			color: $blue;
			padding: 0 16px !important;
			padding-right: 5px !important;
		}
	}
}
.form-flex{
	border: 0 !important;
	img, b{
		float: left;
		margin-top: 20px;
	}
	b{
		font-size: 20px;
		color: $blue;
	}
	.btn-action-filed{
		float: left;
	}
}
.mt40{
	margin-top: 40px;
}
.mt60{
	margin-top: 60px;
}
.mt50{
	margin-top: 50px;
}
.mt20{
	margin-top: 20px;
}
.logo-filed-form{
	margin-top: 20px;
	img{
		margin-right: 15px;
	}
}
.btn-action-filed{
	width: 300px;
}
.checkbox-status{
	float: left;
	label{
		&::before{
			border: 1px solid #b8b8b8;
		}
		span{
			margin-top: 3px;
			float: right;
			color: #b8b8b8;
			position: relative;
			&::before{
				position: absolute;
				left: -12px;
				top: 6px;
				width:8px;
				height:8px;
				content: '';
				display: block;
				border-radius: 50%;
				background: #76BA69;
			}
			.styled-checkbox:checked + label:before {
				background: #fff;
				border: 1px solid #b8b8b8 !important;
			}
			&.occupied{
				color: #b8b8b8;
				&::before{
					background: #b8b8b8;
				}
				.styled-checkbox:checked + label:before {
					background: #fff;
					border: 1px solid #b8b8b8 !important;
				}
			}
			&.reserved{
				color: #0C0;
				&::before{
					background: #0C0;
				}
				.styled-checkbox:checked + label:before {
					background: #fff;
					border: 1px solid #0C0 !important;
				}
			}
		}
	}
	.styled-checkbox {
		position: absolute; // take it out of document flow
		opacity: 0; // hide it
	  
		& + label {
		  position: relative;
		  cursor: pointer;
		  font-style: italic;
		  padding: 0;
		}
	  
		// Box.
		& + label:before {
		  content: '';
		  margin-right: 17px;
		  display: inline-block;
		  vertical-align: text-top;
		  width: 25px;
		  border-radius: 3px;
		  height: 25px;
		  background: white;
		  border: 0;
		  margin-top: -3px;
		  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2);
		}
	  
		
		
		
		// Box checked
		&:checked + label:before {
		  background: #fff;
		  border: 1px solid $blue;
		}
		
		// Disabled state label.
		&:disabled + label {
		  color: #b8b8b8;
		  cursor: auto;
		}
	  
		// Disabled box.
		&:disabled + label:before {
		  box-shadow: none;
		  background: #fff;
		  
		}
	  
		// Checkmark. Could be replaced with an image
		&:checked + label:after {
			content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 10px;
    width: 6px;
	color: $blue;
    background: white;
    height: 13px;
    box-shadow: none !important;
    border: solid ;
    border-width: 0 2px 2px 0;
    transform: rotate(
45deg
);
		}
	  }
	  .available{
		span{
			color: #b8b8b8;
			&::before{
				background: #b8b8b8;
			}
		}
		.styled-checkbox {
			// Box hover
			&:hover + label:before {
			  background: #fff;
			  border: 1px solid #b8b8b8;
			}
			
			
			// Box checked
			&:checked + label:before {
			  background: #fff;
			  border: 1px solid #b8b8b8;
			}
			

			// Disabled state label.
			&:disabled + label {
			  color: #b8b8b8;
			  cursor: auto;
			}
		  
			// Disabled box.
			&:disabled + label:before {
			  box-shadow: none;
			  background: #fff;
			}
		  
			// Checkmark. Could be replaced with an image
			&:checked + label:after {
				content: '';
				display: block;
				position: absolute;
				top: 3px;
				left: 8px;
				width: 6px;
				background: white;
				color: #b8b8b8;
				height: 14px;
				box-shadow: none !important;
				border: solid #b8b8b8;
				border-width: 0 2px 2px 0;
				transform: rotate(45deg);	
			}
		  }
	  }
}
.link-passe{
	display: inline-block;
	width: 100%;
	text-align: right;
	margin-top: 25px;
	a{
		color: $red;
		font-weight: bold;
		font-style: italic;
		text-decoration: none;
	}
}
.form-signa{
	max-width: 400px;
}
.table-choisissez-610{
	.table-data{
		margin: 0;
		padding: 0;
	}
	margin: 0;
	table{
		margin: 0;
	}
	.icon-close-table-10{
		height: 22px;
	}
	tr{
		td{
			vertical-align: baseline;
		}
		input{
			width: 70px;
			border-radius: 4px;
			height: 30px;
			text-align: center;
			border: 1px solid $border !important;
		}
	}
}
.video-box{
	iframe{
		height: 515px;
		width: 100%;
	}
}
.logo-filed{
	height: 48px;
}
.error-list{
	 margin-top: 20px;
	 padding-left: 30px;
	p{
		display: flex;
		span{
			margin-top: 0;
			margin-left: 4px;
		}
	}
}
.choisissez-body{
	display: inline-block;
	height: 88%;
	width: 100%;
	.scrollbar{
		height: 98%;
		padding-left: 0;
		padding-right: 0;
		width: initial;
		margin-right: -15px;
		margin-left: -15px;
		.row{
			margin: 0;
		}
	}
	.item-choisissez{
		ul{
			padding: 0;
			border-radius: 10px;
			border: 1px solid $blue;
			li{
				border-bottom: 1px solid $blue;
				padding: 20px 15px;
				text-align: center;
				list-style: none;
				b{
					font-size: 20px;
					color: $blue;
				}
				img{
					height: 15px;
				}
				&:nth-last-child(1){
					border: 0 !important;
				}
				span{
					font-size: 14px;
				}
				.dollar{
					font-size: 25px;
					color: $red;
				}
				button{
					width: 100%;
					display: inline-block;
					height: 40px;
					border-radius: 32px;
					background: #3d5da8;
					color: white;
					text-align: center;
					font-weight: bold;
					font-size: 14px;
					padding: 6px 0;
					text-decoration: none;
					&:disabled{
						background: #AFAFAF !important;
					}
					&.active{
						background: $red;
					}
				}
				strong{
					font-size: 28px;
					color: $red;
				}
			}
		}
	}
	
}
.title-body-data{
	width: 100%;
	float: left;
	h1{
		float: left;
		margin-top: 6px;
		width: initial !important;
		margin-right: 20px;
	}
	.button-Ajouter{
		margin-right: 20px;
		margin-top: 0px;
		float: left;
	}
}
.form-credit{
	padding: 0 20px;
}
.btn-row{
	display: inline-block;
	width: 100%;
}
.body-scroll-facturation{
	height: 80vh !important;
}
.content-credit{
	padding: 20px;
	background: #efefef;
	.filed-credit{
		position: relative;
		padding: 0px 90px 0px 60px;
		border: 1px solid $blue;
		height: 40px;
		background: white;
		border-radius: 4px;
		img{
			position: absolute;
			height: 22px;
			top: 8px;
			left: 9px;
		}
		span{
			color: $text-alpha;
			font-size: 13px;
			position: absolute;
			right: 10px;
			top: 9px;
		}
		input{
			width: 100%;
			background: none;
			border: 0;
			height: 40px;
		}
	}
}
.coupon-box{
	display: inline-block;
	border-top: 1px solid $border;
	width: 100%;
	padding: 0 15px;
	padding-top: 40px;
	margin-bottom: 20px;
	input{
		height: 40px;
		border: 1px solid $border;
		border-radius: 4px;
		padding: 10px 15px;
		width: 220px;
		text-align: left;
	}
	button{
		height: 40px;
		border-radius: 100px;
		background: $blue;
		color: white;
		font-size: 14px;
		text-align: center;
		padding: 5px 40px;
	}
}
.scrollbar
{
	height: 69vh;
	width: 100%;
    margin: auto;
	overflow-y: auto;
}

#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	border-radius: 0px;
	background-color: #0878BE;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #0878BE;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 0px;
	background-color: #16ACE4;
}
.table-choisissez{
	margin-top: 30px;
	padding: 0 15px;
	h2{
		text-transform: uppercase;
		font-size: 20px;
		color: $blue;
		font-weight: bold;
	}
	.table-data{
		margin-bottom: 0 !important;
		padding-bottom: 0 !important;
		min-height: initial;
		table{
			margin-bottom: 0;
		}
		th{
			text-align: center;
		}
		tr{
			td{
				text-align: center;
				img{
					height: 15px;
				}
			}
		}
		margin-top: 10px;
	}
}
.creer{
	display: inline-block;
	width: 100%;
	padding-left: 22px;
	margin-top: 33px;
	img{
		float: left;
		margin-right: 20px;
	}
	span{
		color: $red;
		font-style: italic;
		font-weight: bold;
	}
}
.pl-40{
	padding-left: 40px;
}
.pr-40{
	padding-right: 40px;
	border-right: 1px solid $blue;
}
:disabled{
	cursor: no-drop !important;
}
.footer-login{
	position: fixed;
	bottom: 5px;
	text-align: center;
	width: 100%;
	left: 0;
	span{
		font-size: 13px;
	}
	i{
		width: 44px;
		background: $blue;
		display: block;
		height: 1px;
		margin: auto;
	}
}
.body-project{
	padding: 15px;
	padding-bottom: 60px;
	padding-top: 156px;
	height: 100vh;
	display: inline-block;
	width: 100%;
	position: relative;
}
.body-data{
width: 100%;
height: 107%;
position: relative;
display: inline-block;
background: white;
border-radius: 20px;
box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
margin-top: 20px;
padding: 20px;
}
.btn-submit-data{
	margin-top: 30px;
	text-align: center;
	.button-Ajouter{
		display: inline-block;
		max-width: 300px;
		a{
			&.disable{
				pointer-events: none;
				cursor: no-drop;
				background: #AFAFAF !important;
			}
			&.active{
				background: #D4164A;
			}
		}
	}
}
.popup-dialog{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
	&::after{
		position: absolute;
		top: 0;
		display: inline-block;
		content: '';
		left: 0;
		width: 100%;
		height: 100%;
		background: white;
	}
	.content-confirm-dialog{
		max-width: 870px;
		margin: auto;
		text-align: center;
		padding: 15px;
		position: relative;
		z-index: 9;
		b{
			color: $blue;
			font-size: 20px;
			display: inline-block;
			width: 100%;
			margin-bottom: 15px;
		}
	}
}
.btn-BLANCHE{
	.button-Ajouter{
		max-width: 200px;
	}
}
body {
	.button-line{
		button{
			&.button-solid{
				background: $blue !important;
				color: white !important;
				&:hover{
					background: #f3f2dc !important;
					color: #677692 !important;
				}
			}
		}
	}
}
header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 60px;
    border-radius: 10px;
    margin-top: -136px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	background: white;
	.logo{
		margin:7px 0 0 10px;
		display: inline-block;
	}
	ul{
		display: flex;
		li{
			list-style: none;
			display: inline-block;
			a{
				padding: 17px 37px;
				display: inline-block;
				text-decoration: none !important;
				font-size: 14px;
				color: #3d5da8;
			}
			&:hover, &.active{
				a{
					color: $red;
				}
			}
		}
	}
}
.back-head{
	background: none !important;
    width: inherit !important;
    margin-left: 28px;
    margin-right: 0;
    margin-top: 6px !important;
    padding: 0 !important;
    float: right;
	img{
		height: 15px;
	}
}
.link-action{
	margin: 10px 11px 0 0;
	display: flex;
    justify-content: space-between;
    align-items: baseline;
	a{
		width: 170px;
		display: inline-block;
		height: 40px;
		border-radius: 32px;
		background: #3d5da8;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
		padding: 8px 0;
		text-decoration: none;
		&:hover{
			background: #f3f2dc;
			color: #677692 !important;
		}
	}
}
body .btn-profil {
	button{
		&:disabled{
			background: $border !important;
			color: white !important;
		}
	}
}
.btn-profil-action{
	button{
		float: left;
		&.button-activer-le{
			width: 70%;
		}
		&.button-annuler{
			width: 29%;
			margin-left: 1%;
		}
	}
}
.link-footer{
	position: fixed;
    bottom: 28px;
    width: 100%;
    text-align: center;
	a{
		font-style: italic;
		font-weight: bold;
		color: $blue;
		font-size: 14px;
		padding: 0 12px;
		text-decoration: none !important;
	}
}
.w-200{
	width: 200px !important;
}




.box {
	width: 40%;
	margin: 0 auto;
	background: rgba(255,255,255,0.2);
	padding: 35px;
	border: 2px solid #fff;
	border-radius: 20px/50px;
	background-clip: padding-box;
	text-align: center;
  }

  
  .overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  #messagerie{
	  .popup{
		  padding: 50px;
		  position: relative;
		  .close-popup-message{
			  position: absolute;
			  top: 10px;
			  right: 10px;
			  img{
				  width: 30px;
			  }
		  }
		  .form-group{
			  border-bottom: 0 !important;
		  }
		  input{
			  height: 40px;
			  width: 100%;
			  display: inline-block;
			  margin-top: 15px;
			  border: 1px solid $blue;
		  }
	  }
  }
  .popup {
	margin: 70px auto;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	width: 30%;
	position: relative;
  }
  
  .popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
  }
  .popup .close:hover {
	color: #06D85F;
  }
  .popup .content {
	max-height: 30%;
	overflow: auto;
  }







.max-w-370{
	max-width: 370px;
}
.frontend-login{
	width: 1200px;
	margin: auto;
	.description-frontend{
		width: 551px;
		margin-right: 139px;
		text-align: left;
		float: left;
		margin-top: 23%;
		h3{
			color: $red;
			margin: 20px;
			font-size: 28px !important;
			padding: 0;
			margin: 0;
			font-weight: bold;
			margin-bottom: 20px;
		}
		p{
			font-size: 14px;
			font-style: italic;
		}
	}
	.content-login{
		float: left;
	}
}
.title-page{
	font-size: 20px;
	color: $red;
	display: inline-block;
	width: 100%;
	text-transform: uppercase;
	font-weight: bold;
	margin-bottom: 0;
}
.filed-search{
	position: absolute;
    width: 393px;
    right: 20px;
    height: 28px;
    padding-right: 30px;
    top: 10px;
    border-bottom: 1px solid #999999;
	input{
		width: 100%;
		font-size: 14px;
	}
	button{
		position: absolute;
		right: 0;
		background: none;
		top: 0;
		img{
			width: 14px;
		}
	}
}
.pagging-table{
	position: absolute;
	bottom: 15px;
	display: flex;
	justify-content: space-between;
	right: 18px;
	width: 208px;
	span{
		margin-top: 0px;
	}
	.btn-pagging{
		background: $blue;
		width: 51px;
		text-align: center;
		border-radius: 5px;
		button{
			background: none;
			img{
				height: 10px;
				display: inline-block;
				margin-top: -4px;
			}
		}
	}
	input{
		width: 51px;
		height: 22px;
		border: 1px solid $blue;
		color: $black;
		text-align: center;
		border-radius: 5px;
		&::placeholder{
			color: $black;
		}
	}
}
.list-content-legal{
	display: inline-block;
    padding: 0 50px;
    position: relative;
    width: 100%;
    margin-top: 20px;
	&::before{
		width: 1px;
		height: 100%;
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 25px;
		background: $blue;
	}
	.item-legal{
		display: inline-block;
		padding: 30px 0;
		position: relative;
		width: 100%;
		border-bottom: 1px solid $blue;
		&:nth-child(1){
			padding-top: 0;
		}
		&::before{
			width: 10px;
			height: 10px;
			border-radius: 50%;
			content: '';
			display: block;
			position: absolute;
			bottom: -4px;
			left: -29px;
			background: $blue;
		}
		h6{
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
			display: inline-block;
			color: $blue;
			width: 100%;
		}
		p{
			font-size: 14px;
			display: inline-block;
			width: 100%;
			color: $blue;
		}
	}
}
.table-data{
	width: 100%;
	display: inline-block;
	margin-top: 10px;
	height: 100%;
	padding-bottom: 84px;
	table{
		thead{
			border: 0;
			tr{
				th{
					color: #3d5da8;
					font-size: 14px;
					background: #f7f7f7;
					border: 0;
					padding: 5px 10px;
					font-weight: bold;
				}
				border: 0;
			}
		}
		tbody{
			tr{
				td{
					border: 0;
					color: $blue;
					font-size: 13px;
					padding: 5px 10px;
					a{
						width: 100%;
						text-align: center;
						display: block;
						img{
							height: 13px;
						}
					}
				}
				&:nth-child(even)
				{
					background: $bg;
				}
			}
		}
	}
}
.group-authenticator{
	position: relative;
	.error-text-inpage{
		position: absolute;
		left: 425px;
		top: 0;
		span{
			left: 0;
		}
	}
}
.link-back{
	display: inline-block;
	width: 100%;
	text-align: left;
	margin-top: 28px;
	a{
		text-decoration: none;
	}
	img{
		float: left;
		margin-right: 16px;
		margin-top:7px;
	}
	b{
		font-weight: bold;
		font-size: 14px;
		color: $red;
	}
}
.code-authentication{
	button{
		&.btn-code-authentication{
			margin-top: 50px;
		}
	}
}
.td-center{
	text-align: center;
}
.mt-40{
	margin-top: 40px;
}
.mt-30{
	margin-top: 30px;
}
.mt-25{
	margin-top: 25px;
}
.error-text{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 0 !important;
	span{
		color: $red;
		font-style: italic;
		text-align: center;
	}
}


.box-filed-nouvelle{
	width: 100%;
	&.enable-blue{
		label{
			color: black !important;
			text-transform: uppercase;
		}
		input{
			border-color: $blue !important;
		}
		.btn-change-logo{
			border: 1px solid $blue !important;
			button{
				color: $blue !important;
			}
			&:hover{
				background: #f3f2dc;
				border: 1px solid #f3f2dc !important;
				color: #677692 !important;
			}
		}
		.logo-form-change .logo-form{
			background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%233D5DA8FF' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
border-radius: 10px;
		}
		.form-nom b{
			color: $blue;
		}
		img{
			-webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
  filter: grayscale(0%) !important;
		}
	}
	.form-group{
		padding-right: 0 !important;
	}
}
.filed-premium{
	&.form-group{
		border-bottom: 0 !important;
	}
}
.seclect-box{
	display: inline-block;
	width: 100%;
	select{
		width: 100%;
		height: 38px;
		border: 0;
		padding-left: 16px;
		color: $blue;
		display: inline-block;
	}
}
.premium-btn{
	margin-top: 30px;
	width: 100%;
	button{
		height: 40px;
		width: 100%;
		background: #3d5da8;
		display: inline-block;
		border-radius: 60px;
		color: white;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		font-size: 14px;
		padding: 7px 0;
		&:hover{
			background: #f3f2dc;
			color: #677692 !important;
		}
		&:disabled{
			background: #afafaf;
		}
	}
	.col-md-6{
		&:nth-child(1){
			padding-right: 5px;
		}
		&:nth-child(2){
			padding-left: 5px;
		}
	}
}
.form-qrcode{
	max-width: 400px;
	span{
		color: $red;
		position: absolute;
		left: 400px;
		font-style: italic;
		top: 23px;
		text-align: left;
		width: 300px;
	}
}

.button-line{
	button, a{
		height: 40px;
		width: 100%;
		background: white;
		display: inline-block;
		text-decoration: none;
		border-radius: 60px;
		color: $blue;
		border: 1px solid $blue;
		text-align: center;
		font-weight: bold;
		text-decoration: none;
		font-size: 14px;
		padding: 7px 0;
		margin-bottom: 15px;
		&:hover{
			background: #f3f2dc;
			border: 1px solid #f3f2dc !important;
			color: #677692 !important;
		}
		&:disabled{
			background: #afafaf !important;
			color: white !important;
			border: 1px solid #afafaf !important;
		}
		&.active{
			border: 1px solid $red !important;
			color: $red !important;
			
		}
	}
}

.form-nom{
	border: 0 !important;
	label{
		color: #afafaf !important;
		display: inline-block;
		width: 100%;
	}
	input{
		height: 40px;
		border: 1px solid #afafaf !important;
		border-radius: 10px !important;
		width: 220px;
		margin-top: 17px;
		display: inline-block;
		margin-right: 15px;
	}
	b{
		font-size: 14px;
		color: #afafaf;
		font-weight: normal;
	}
}
.cinestaf{
	position: relative;
	padding-right: 200px;
	background: #efefef;
	height: 40px !important;
	padding: 10px 15px;
	border-radius: 0 32px 32px 0;
	.button-Ajouter a {
		display: inline-block;
		height: 40px !important;
		border-radius: 32px;
		background: #3d5da8;
		color: white;
		text-align: center;
		font-weight: bold;
		font-size: 13px;
		padding: 10px 30px !important;
		text-decoration: none;
		position: absolute;
		right: 0;
		top: 0;
	}
}
.votre{
	display: inline-block;
	width: 100%;
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px solid $blue;
	.button-Ajouter a{
		height: 40px !important;
		padding: 10px 30px !important;
		float: right;
	}
}
.logo-form-change{
	display: flex;
	.logo-form{
		width: 58px;
    	height: 48px;
		text-align: center;
		background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23AFAFAFFF' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
		border-radius: 10px;
		padding: 11px 0;
		margin-top: 17px;
		img{
			display: initial !important;
			left: initial !important;
			top: initial !important;
			width: initial !important;
			height: initial !important;
			position: relative !important;
			-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  			filter: grayscale(100%);
			  height: 23px !important;
		}
	}
	.btn-change-logo{
		height: 40px;
		border: 1px solid #afafaf !important;
		border-radius: 32px !important;
		width: 220px;
		margin-top: 17px;
		display: inline-block;
		margin-right: 15px;
		box-sizing: border-box;
		letter-spacing: 4px;
		margin-left: 39px;
		button{
			width: 100%;
			height: 100%;
			border-radius: 32px;
			background: none;
			font-size: 14px;
			color: #afafaf;
		}
	}
}


.color-box{
	float: left;
	margin-top: 17px;
	span{
		width: 25px;
    	height: 25px;
		background: #afafaf;
		display: inline-block;
		margin-right: 13px;
	}
}
.m-17{
	display: inline-block;
	font-style: italic;
	margin-top: 17px;
}
.btn-total{
	display: inline-block;
	width: 100%;
	margin-top: 70px;
	text-align: center;
	button{
		display: inherit;
		height: 40px;
		background: $blue;
		padding: 8px 50px;
		color: white;
		border-radius: 32px;
		font-size: 14px;
		font-weight: bold;
		margin: 0 5px;
		&:hover{
			background: #f3f2dc;
			color: #677692 !important;
		}
		&:disabled{
			background: #afafaf;
			color: white;
		}
		
	}
}
.error-text-inpage{
	min-height: 82px;
	.error-text{
		text-align: left;
	}
}

.ml-50{
	margin-left: 50px !important;
}
.ml-30{
	margin-left: 30px !important;
}
.none-css{
	display: none !important;
}
body .activiter-btn{
	border: 2px solid $blue !important;
	background: none !important;
	color: $blue !important;
	&:hover{
		background: $blue !important;
		border: 1px solid $blue !important;
		color: white !important;
	}
	&:disabled{
		background: #afafaf !important;
		color: white !important;
		border: 1px solid #afafaf !important;
		&:hover{
			color: #677692 !important;
		}
	}
}
.mt-20{
	margin-top: 20px !important;
}
.mt-30{
	margin-top: 30px !important;
}
.none-border{
	border-bottom: 0 !important;
}
.form-compte{
	form{
		max-width: initial;
		.form-group{
			margin-bottom: 20px;
			input{
				height: 22px ;
			}
		}
	}
	.button-line{
		button{
			width:initial !important;
			padding: 0 50px;
		}
	}
	.modifier-le-logo{
		margin-top: 50px;
	}
	
}
.img-credit{
	display: flex;
	img{
		height: 22px;
		margin-left: 2px;
	}
}
.credit{
	display: flex;
	justify-content: space-between;
	.container2 {
		display: block;
		position: relative;
		padding-left: 27px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 14px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	  }
	  
	  /* Hide the browser's default radio button */
	  .container2 input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	  }
	  
	  /* Create a custom radio button */
	  .checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: #eee;
		border-radius: 50%;
	  }
	  
	  /* On mouse-over, add a grey background color */
	  .container2:hover input ~ .checkmark {
		background-color: #ccc;
	  }
	  
	  /* When the radio button is checked, add a blue background */
	  .container2 input:checked ~ .checkmark {
		background-color: $blue;
	  }
	  
	  /* Create the indicator (the dot/circle - hidden when not checked) */
	  .checkmark:after {
		content: "";
		position: absolute;
		display: none;
	  }
	  
	  /* Show the indicator (dot/circle) when checked */
	  .container2 input:checked ~ .checkmark:after {
		display: block;
	  }
	  
	  /* Style the indicator (dot/circle) */
	  .container2 .checkmark:after {
		   top: 6px;
		  left: 6px;
		  width: 8px;
		  height: 8px;
		  border-radius: 50%;
		  background: white;
	  }	
}
.description-frontend{
	h1{
		color: $red;
		font-size: 32px;
	}
	p{
		font-size: 20px;
		color: $blue;
	}
}
.profil-body{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
}
.flex-profil{
	display: flex;
	height: 107%;
	width: 100%;
	position: relative;
	padding-left: 360px;
	justify-content: space-between;
}
.profil-left{
	padding-right: 20px;
	position: absolute;
	left: 0;
	height: 100%;
	top: 0;
	width: 360px;
}
.content-profil-left{
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	background: white;
	border-radius: 20px;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	margin-top: 20px;
	padding: 19px;
	padding-top: 30px;
	z-index: 1;
}
.content-profil-right{
	position: relative;
	h2{
		font-size: 20px;
		text-transform: uppercase;
		color: $red;
		font-weight: bold;
		display: inline-block;
		width: 100%;
	}
	p{
		font-size: 14px;
		color: $blue;
		font-style: italic;
		display: inline-block;
		width: 100%;
	}
	h6{
		font-size: 14px;
		color: $red;
		text-transform: uppercase;
		display: inline-block;
		width: 100%;
	}
	.btn-profil {
		height: 40px;
		background: #3d5da8;
		display: inline-block;
		padding: 10px 35px;
		border-radius: 32px;
		margin-top: 30px;
		width: initial;
		margin-right: 10px;
	}
}

.qrcode{
	position: relative;
	padding-right: 300px;
	min-height: 15px;
	.img-qrcode{
		img{
			position: absolute;
			right: 0;
			top: 0;
			height: 123px;
		}
	}
}
.item-profil{
	position: relative;
	display: inline-block;
	width: 100%;
	padding-left: 56px;
	margin-bottom: 20px;
	b{
		font-size: 25px;
		font-weight: 600;
		color: $red;
	}
	span{
		color: $blue;
		font-style: italic;
		font-size: 14px;
		display: inline-block;
		width: 100%;
	}
	img{
		position: absolute;
		left: 0;
		top: 16px;
	}
}
.btn-profil{
	height: 40px;
    background: #3d5da8;
    display: inline-block;
    padding: 9px 0;
	width: 100%;
	margin-bottom: 22px;
	border-radius: 32px;
	a, button{
		color: white;
		text-align: center;
		display: inline-block;
		text-decoration: none !important;
		width: 100%;
		font-weight: bold;
		font-size: 14px;
		background: none !important;
	}
	
	&:nth-last-child(1){
		margin-bottom: 0;
	}
	&:hover{
		background: #dad9c7;
		a{
			color: #677692 !important;
		}
	}
	&.disabled{
		background: #afafaf !important;
		color: white !important;
		pointer-events: none;
		cursor:no-drop;
	}
}
.profil-right{
	width:100%;
	padding-left: 20px;
}




.body-legal{
	h1{
		padding: 0 15px;
	}
}
.scrollbar
{
	height: 96%;
	width: 100%;
	overflow-y: auto;
}

#wrapper
{
	text-align: center;
	width: 100%;
	margin: auto;
}

/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #E5E5E5;
}

#style-1::-webkit-scrollbar
{
	width: 6px;
	background-color: #E5E5E5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #949494;
}
















.filed-nom-domain{
	label, b{
		float: left !important;
		margin-top: 0;
		text-transform: uppercase;
		margin-right: 15px;
		width: initial !important;
	}
}
.show-popup{
	&::before{
		display: none;
	}
	.popup-showup-content{
		padding: 0;
	}
	.up-btn-popup{
		top: -37px;
		transform: rotate(0deg);
	}
	.content-popup{
		display: none;
	}
}
@media only screen and (max-width: 1500px) {
	.total-messager {
		top: 14px;
	}
	.update-search-message {
		top: 3px !important;
	}
	.form-UTILISATEURSExporter .button-line button, .form-UTILISATEURSExporter .button-line a {
		height: 40px;
		padding: 5px 0 !important;
		font-size: 14px;
	}
	.group-authenticator{
		.error-text-inpage{
			span{
				width: 230px;
			}
		}
	}
	.body-contact h2 {
		margin-bottom: 27px;
	}
	.form-UTILISATEURSExporter .form-group {
		margin-bottom: 0px !important;
	}
	.body-data {
		padding: 20px;
		padding-top: 10px;
	}
	.title-body-data .button-Ajouter {
		margin-right: 20px;
		margin-top: -5px;
		float: left;
	}
}
.p-0{
	padding: 0 !important;
}
.update-scroll-1366{
	.scrollbar{
		padding:0 15px;
	}
}
.merge-compete{
	display: inline-block;
	width: 100%;
}
.filed-important{
	color: $red !important;
}

.total-price{
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	p{
		display: flex;
		justify-content: space-between;
		b{
			font-size: 15px;
			font-weight: bold;
		}
		span{
			color: $blue;
			font-size: 15px;
			font-weight: bold;
		}
	}
}
.form-facturation{
	margin-left: -15px !important;
	margin-right: -15px !important;
}
.body-scroll-signature{
	padding:0 15px;
}
.signature-body{
	margin-left: -15px;
	margin-right: -15px;
}
@media only screen and (max-width: 1400px) {

	.infor-video .box-attach.box-attach-bg {
		height: 277px;
	}
	.body-scroll-signature{
		height: 69vh;
	}
	.body-scroll-facturation {
		height: 71vh !important;
	}
	.video-box iframe {
		height: 350px;
		width: 100%;
	}
	.pagging-table {
		right: 15px;
	}
	.error-text{
		span{
			margin-top: 0 !important;
		}
	}
	.list-content-legal .item-legal {
		display: inline-block;
		padding: 10px 0;
	}
	.box-login h2 {
		font-size: 20px;
		br{
			display: none !important;
		}
	}
	.error-text{
		margin-top: 0 !important;
	}
	.link-passe {
		margin-top: 5px;
	}
	.box-login button {
		margin-top: 10px;
	}
	.creer {
		margin-top: 13px;
	}
	.btn-submit-data.bt-UTILISATEURSExporter{
		margin-top: 0 !important;
	}
	.seclect-box select {
		width: 100%;
		height: 30px;
	}
	.filed.form-UTILISATEURSExporter{
		.box-filed-nouvelle{
			.button-line{
				button{
					height: 30px;
					padding: 2px 0 !important;
					font-size: 13px;
					margin-bottom: 13px !important;
				}
			}
			.form-group.border-none{
				span{
					margin-top: 5px;
				}
			}
		}
	}
	.popup {
		width: 50%;
	}
	.content-popup {
		padding: 25px 50px;
	}
	.profil-right {
		width: 100%;
		padding-left: 0px;
	}
	.update-scroll-1366{
		.scrollbar{
			height: 71vh;
		}
	}
	form.filed .form-group input {
		height: 22px;
	}
	.succes-decription img.tick-img {
		width: 59px;
		margin: auto;
		display: block;
		margin-bottom: 0;
		padding: 8px 0;
	}
	.labguage-site {
		position: fixed;
		top: 10px;
		right: 10px;
		display: flex;
	}
	.mt-40 {
		margin-top: 20px;
	}
	.btn-total {
		margin-top: 0px;
	}
	.link-back {
		margin-top: 15px;
	}
	.frontend-login .description-frontend {
		margin-top: 14%;
	}
	.flex-profil{
		height: 100%;
	}

	.box-login {
		display: inline-block;
		width: 100%;
		background: white;
		text-align: left;
		margin-top: 6px;
		padding: 15px 45px;
	}
	.body-data {
		height: 100%;
	}
	.body-contact {
		margin-top: 10px;
		padding:10px 112px 20px 112px;
	}
	.content-profil-left {
		margin-top: 10px;
	}
	.choisissez-body {
		display: inline-block;
		height: 83%;
		width: 100%;
	}
	button.btn-submit {
		margin-top: 15px;
	}
	.form-UTILISATEURSExporter .button-line button, .form-UTILISATEURSExporter .button-line a {
		height: 35px;
		padding: 6px 0 !important;
		font-size: 14px;
	}
	.bt-UTILISATEURSExporter .button-Ajouter a {
		display: inline-block;
		height: 39px;
		border-radius: 32px;
		font-size: 14px !important;
		padding: 9px 40px;
		text-decoration: none;
	}
	.link-footer {
		bottom: 22px;
	}
	.footer-login {
		bottom: 1px;
	}
	header .logo img {
		height: 40px;
	}
	.link-action a {
		width: 188px;
		height: 40px;
		border-radius: 32px;
		font-size: 14px;
		padding: 8px 0;
	}
	header ul li a {
		padding: 13px 17px;
		font-size: 16px;
	}
	header {
		height: 54px;
		margin-top: -79px;
	}
	.body-data {
		padding: 20px;
		padding-top: 10px;
		margin-top: 10px;
	}
	.link-action {
		margin: 7px 11px 0 0;
	}
	.button-Ajouter a {
		display: inline-block;
		height: 40px;
		border-radius: 32px;
		font-size: 14px !important;
		padding: 8px 40px;
	}
	.body-project {
		padding-bottom: 35px;
		padding-top: 90px;
	}
}
@media only screen and (max-width: 1205px) {
	.total-messager {
		position: absolute;
		right: 280px;
		top: 12px;
		text-align: right;
	}
	.update-scroll-1366 .scrollbar {
		height: initial;
		padding: 0 !important;
		overflow: initial;
	}
	.content-login {
		width: 96%;
	}
	.login-form h1 {
		font-size: 32px;
	}
	.box-login h2 {
		font-size: 20px;
	}
	.login-form{
		margin-top: 50px;
	}
	.content-login{
		width: 100%;
		padding: 0 15px;
		max-width: 600px;
		float: initial !important;
		margin-left: auto;
		margin-right: auto;
	}
	.link-footer{
		margin-bottom: 20px;
		margin-top: 20px;
		bottom: 0;
		a{
			display: inline-block;
			width: 100%;
			text-align: center;
			padding: 5px 0;
		}
	}
	header .logo img {
		height: 38px;
	}
	.logo{
		width: 44px;
		height: 70px;
		padding: 8px;
		overflow: hidden;
		display: inline-block;
		margin: 0 !important;
	}
	.body-contact {
		max-width: 100%;
		margin: auto;
		position: relative;
		background: white;
		border-radius: 20px;
		margin-top: 20px;
		padding: 20px;
	}
	.login-form {
		width: 100%;
		height: 100%;
		display: inline-block;
		text-align: center;
		position: relative;
	}
	.footer-login,.link-footer {
		position: relative;
	}
	.frontend-login{
		width:100% !important;
	}
	.frontend-login .description-frontend {
		width: 100%;
		text-align: left;
		float: left;
		display: none;
		margin: 70px 0 0 0 !important;
		padding: 0 15px;
	}
	.labguage-site {
		position: absolute;
		top: 20px;
		right: 20px;
		display: flex;
	}
	.back-head img {
		width: 27px;
	}
	.link-action {
		margin: 4px 0px 0 0;
	}
	.body-project {
		padding-bottom: 0;
		padding-top: 90px;
	}
	.body-project {
		margin-bottom: 20px;
		height: initial;
	}
	form.filed .form-group textarea {
		margin-top: 10px;
	}
	header{
		nav{
			position: fixed;
			width: 100%;
			background: white;
			height: 100%;
			z-index: 9;
			left: 0;
			top: 0;
			display: none;
		}
	}
	.link-action a {
		margin-right: 10px;
	}
	.mobile-menu{
		display: inline-block !important;
		position: relative;
		left: 20px;
		top: 16px;	
		img{
			height: 18px;
			&.menu-mobile{
				display: block !important;
			}
		}
	}
	.link-action a {
		width: inherit;
		height: 45px;
		border-radius: 32px;
		font-size: 16px;
		padding: 10px 22px;
	}
	nav{
		.mobile-menu{
			display: inline-block !important;
		}
	}
	header{
		&.active-menu{
			nav{
				display: inline-block !important;
			}
		}
	}
	header ul {
		display: inline-block;
		width: 100%;
		padding-top: 80px;
		padding-left: 20px;
		li{
			display: inline-block;
			width: 100%;
			text-align: left;
		}
	}
	.close-menu-mobile{
		position: absolute;
		left: 22px;
		top: -6px;
	}
	.content-popup {
		width: 100%;
		background: white;
		margin: auto;
		padding: 15px;
		display: inline-block;
	}
	.popup-showup-body h6{
		border: 0;
	}
	.list-content-legal {
		padding: 0px;
	}
	.body-legal h1 {
		padding: 0px;
		margin-bottom: 20px;
	}
	.list-content-legal::before{
		display: none;
	}
	form{
		.footer-login{
			display: none;
		}
	}
	.footer-login{
		margin-top: 20px;
	}
	.table-data {
		margin-top: 15px;
		overflow-x: auto;
	}
	.filed-search {
		width: 250px;
    right: 20px;
    height: 26px;
    padding-right: 30px;
    top: 18px;
    position: absolute;
    margin-bottom: 20px;
	}
	.button-title{
		display: flex;
		float: left;
		margin-top: -13px;
		.button-Ajouter{
			margin-bottom: 0 !important;
			margin-left: 10px !important;
			&:nth-child(2){
				min-width: 200px;
			}
			a{
				width: 100%;
				padding: 6px 20px;
				font-size: 13px !important;
				height: 32px;
			}
		}
	}
	.pagging-table {
		position: absolute;
		bottom: 15px;
		display: flex;
		justify-content: space-between;
		right: 20px;
		width: 208px;
	}
	.back-head {
		margin-left: 0;
	}
	.pr-40{
		border: 0;
		padding-right: 15px;
	}
	.premium-btn{
		margin: 20px 0 0 0;
	}
	.premium-btn .col-md-6{
		padding: 0 !important;
		margin-bottom: 15px;
	}
	.pl-40{
		padding: 0 15px;
	}
	.btn-total{
		margin-right: 0 !important;
		margin-left: 0 !important;
	}
	.btn-total button {
		height: 45px;
		padding: 10px 10px;
		font-size: 16px;
		margin: 0;
		width: 100%;
		margin-bottom: 15px;
	}

	.flex-profil {
		display: inline-block;
		height: initial;
		width: 100%;
		position: relative;
		padding-left: initial;
		justify-content: initial;
	}
	.profil-left {
		padding-right: initial;
		position: relative;
		left: 0;
		height: initial;
		top: 0;
		width: 100%;
	}
	.item-profil {
		position: relative;
		width: 50%;
		float: left;
	}
	.btn-profil{
		width: 100%;
	}
	.profil-right{
		padding-left: 0;
	}
	.content-profil-right .btn-profil {
		height: 45px;
		padding: 8px 15px;
		width: 100%;
	}
	.qrcode {
		position: relative;
		padding-right: 0;
		min-height: 15px;
	}
	.btn-profil-action button.button-activer-le {
		width: 100%;
	}
	.btn-profil-action button.button-annuler {
		width: 100%;
		margin-left: 0;
	}
	.qrcode {
		.img-qrcode {
			right: inherit;
			top: -260px;
			position: relative;
			width: 100%;
			display: inline-block;
			text-align: center;
			left: 0;
		}
	}
	.qrcode .img-qrcode img {
		height: 120px;
		position: relative;
		right: inherit;
	}
	.btn-profil-action{
		margin-top: 190px;
	}
	.form-qrcode {
		max-width: 100%;
	}
	.form-compte .button-line button {
		width: 100% !important;
		padding: 0 13px;
		margin: 0 0 15px !important;
		font-size: 14px;
	}
	.form-compte .modifier-le-logo {
		margin-top: 0;
		padding: 0;
		button{
			margin: 0 !important;
			margin-bottom: 20px !important;
		}
	}
	.title-body-data .button-Ajouter {
		float: left;
		width: 100%;
		margin: 15px 0;
	}
	.button-line button, .button-line a {
		height: 45px;
		font-size: 14px;
		padding: 9px 0;
		width: 100% !important;
	}
	.bt-UTILISATEURSExporter{
		margin: 0 !important;
		.button-Ajouter{
			width: 100%;
			margin-bottom: 15px;
			a, button{
				width: 100%;
			}
		}
	}
	.btn-Modifier{
		padding: 0 !important;
	}
	
	.group-authenticator .error-text-inpage {
		position: absolute;
		left: 0;
		top: 40px;
	}	
	.btn-form-center
	{
		display: inline-block;
		padding: 0 !important;
		button{
			margin-left:0 !important ;
		}
	}
	
	.form-credit {
		padding: 0;
	}
	.body-scroll-facturation {
		height: initial !important;
		overflow-y: initial !important;
	}
	.coupon-box {
		display: flex;
		justify-content: space-between;
		input{
			width: 130px;
		}
	}
	.btn-row{
		margin-top: 20px;
	}	
	.cinestaf {
		position: relative;
		padding-right: 0;
		background: #efefef;
		height: initial !important;
		padding: 10px 15px;
		border-radius: 0;
		.button-Ajouter{
			a{
				position: relative;
			}
		}
	}
	.votre .button-Ajouter a{
		float: left;
	}
	.body-scroll-signature{
		height: initial !important;
	}
}

@media only screen and (max-width: 990px) {
	.update-ipad-utilisateurs{
		.col-md-6{
			width: 100%;
			max-width: 100% !important;
			flex: 0 0 100% !important;
			.button-line{
				text-align: center;
			}
		}
	}
	.button-title {
		margin-bottom: 40px;
		margin-top: -7px;
	}
	.button-title .button-Ajouter {
		margin-left: 0 !important;
		margin-right: 4px !important;
	}
	.button-title {
		float: left;
	}
	.filed-search {
		top: 73px;
		width: 300px;
	}
	
	.button-title {
		float: right;
	}
	.total-messager {
		position: relative;
		right: inherit;
		text-align: right;
		float: left;
		top: inherit;
	}
	.update-search-message{
		top: 12px !important; 
	}
}
@media only screen and (max-width: 767px) {
	.filed-search {
		top: 100px;
	}
	.update-search-message {
		top: 70px !important;
	}
	.total-messager {
		margin-bottom: 50px;
	}
}