@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  outline: none;
  border: 0;
  text-shadow: none;
  box-shadow: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px; }

body {
  width: 100%; }

.succes-decription {
  text-align: center; }
  .succes-decription b.title-decription, .succes-decription span {
    text-align: center;
    font-style: italic;
    color: #3d5da8;
    display: inline-block;
    width: 100%; }
  .succes-decription span {
    padding-bottom: 50px; }
  .succes-decription img.tick-img {
    width: 70px;
    margin: auto;
    display: block;
    margin-bottom: 20px;
    padding: 20px 0; }

.ml-20 {
  margin-left: 20px !important; }

.btn-form-center {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  text-align: center; }
  .btn-form-center button, .btn-form-center a {
    width: initial !important;
    padding-left: 30px !important;
    padding-right: 30px !important; }

.content-message {
  display: inline-block;
  width: 100%; }
  .content-message p {
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 600;
    background: #F7F7F7;
    color: #3d5da8; }
    .content-message p span {
      font-weight: normal;
      margin-top: 15px;
      color: #3d5da8;
      display: inline-block;
      width: 100%; }
  .content-message textarea {
    width: 100%;
    height: 200px;
    border: 1px solid #3d5da8;
    padding: 15px;
    font-size: 16px; }

.total-messager {
  position: absolute;
  right: 630px;
  top: 58px;
  text-align: right; }
  .total-messager b {
    font-weight: bold;
    color: #3d5da8; }
    .total-messager b span {
      color: #3d5da8;
      font-weight: normal; }

.mobile-menu {
  display: none; }

.visualisation-body tr:hover {
  background: #E7EDFD !important; }
.visualisation-body tr td {
  vertical-align: middle; }
  .visualisation-body tr td b {
    width: 100%;
    clear: both; }

.bt-UTILISATEURSExporter {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: 10px !important; }
  .bt-UTILISATEURSExporter .button-Ajouter {
    width: 240px; }
    .bt-UTILISATEURSExporter .button-Ajouter a {
      padding: 6px 0;
      width: 100%; }

.content-index {
  display: inline-block;
  width: 100%;
  background: white;
  text-align: left;
  margin-top: 78px;
  padding: 53px 62px 47px 62px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 15px; }
  .content-index img {
    width: 200px;
    padding: 10px 0; }
  .content-index li {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px; }
  .content-index a {
    display: inline-block;
    width: 100%;
    padding: 10px 0;
    font-size: 16px; }

.login-form {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-content: center;
  -ms-flex-pack: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  transition: all .3s ease-in-out;
  position: fixed; }
  .login-form h1 {
    font-size: 40px;
    color: #d4164a;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 55px; }
  .login-form b {
    color: #3d5da8;
    font-size: 20px;
    font-weight: bold; }

.content-login {
  width: 507.9px;
  margin: auto; }

.body-contact {
  max-width: 860px;
  margin: auto;
  position: relative;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  padding: 0px 50px 20px 50px; }
  .body-contact h2 {
    font-size: 25px;
    color: #d4164a;
    margin-bottom: 0;
    text-transform: uppercase;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 55px;
    margin-bottom: 30px; }

.form-UTILISATEURSExporter .form-group {
  margin-bottom: 10px !important; }
.form-UTILISATEURSExporter .button-line {
  margin-top: 5px !important; }
  .form-UTILISATEURSExporter .button-line.mt-20 {
    margin-top: 20px !important; }
.form-UTILISATEURSExporter .button-line button, .form-UTILISATEURSExporter .button-line a {
  height: 36px;
  padding: 8px 0 !important;
  font-size: 13px;
  max-width: 300px; }

.box-login {
  display: inline-block;
  width: 100%;
  background: white;
  text-align: left;
  margin-top: 30px;
  padding: 30px 45px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  border-radius: 15px; }
  .box-login button {
    height: 40px;
    width: 100%;
    display: inline-block;
    background: #3d5da8;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 24.79px;
    margin-top: 25px;
    color: white !important; }
    .box-login button:disabled {
      background: #AFAFAF !important;
      opacity: 1 !important; }
      .box-login button:disabled:hover {
        color: white !important; }
    .box-login button:hover {
      background: #f3f2dc;
      color: #677692 !important; }
  .box-login h2 {
    font-size: 26px;
    color: #3d5da8;
    display: inline-block;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: 28px; }

.form-group label {
  display: inline-block;
  width: 100%; }

.border-none {
  border: 0 !important; }
  .border-none b {
    font-weight: bold;
    color: #3d5da8;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    margin-top: 20px; }
  .border-none span {
    font-style: italic;
    color: #3d5da8;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    width: 100%; }

.mot-de-pass span {
  font-size: 13px;
  color: #3d5da8;
  font-style: italic;
  display: inline-block;
  width: 100%;
  text-transform: none;
  margin-top: 20px;
  font-weight: normal; }

.notification-succes {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .notification-succes img {
    width: 23px;
    margin-right: 4px; }
  .notification-succes span {
    color: #44c4a1;
    font-style: italic; }

.logo img {
  height: 42px; }

.letter-spacing-fied {
  letter-spacing: 20px; }

.button-Ajouter a {
  display: inline-block;
  height: 32px;
  border-radius: 32px;
  background: #3d5da8;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  padding: 6px 30px;
  text-decoration: none; }
  .button-Ajouter a:hover {
    background: #f3f2dc !important;
    color: #677692 !important; }

.mt-30 {
  margin-top: 30px !important; }

.mt-10 {
  margin-top: 10px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.labguage-site {
  position: fixed;
  top: 30px;
  right: 30px;
  display: flex; }
  .labguage-site a {
    margin-left: 10px; }

.btn-submit-box {
  display: inline-block;
  width: 100%;
  text-align: center; }

button.btn-submit {
  height: 40px;
  width: 100%;
  max-width: 368px;
  display: inline-block;
  background: #3d5da8;
  margin: auto;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 24.79px;
  margin-top: 20px;
  color: white !important; }
  button.btn-submit:disabled {
    background: #AFAFAF !important; }
    button.btn-submit:disabled:hover {
      color: white !important; }
  button.btn-submit:hover {
    background: #f3f2dc;
    color: #677692 !important; }

.form-textarea {
  padding-right: 0 !important; }

.popup-showup-body {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 1; }
  .popup-showup-body h6 {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    color: #3d5da8;
    line-height: 23px;
    position: relative;
    border-left: 3px solid #3d5da8;
    padding-left: 30px; }
  .popup-showup-body::before {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: .4;
    content: '';
    left: 0;
    top: 0;
    display: block; }
  .popup-showup-body .popup-showup-content {
    width: 1600px;
    background: white;
    margin: auto;
    position: relative;
    display: flex;
    align-content: center;
    -ms-flex-pack: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    transition: all .3s ease-in-out;
    border-radius: 20px 20px 0 0; }

.content-popup {
  width: 1600px;
  background: white;
  margin: auto;
  padding: 25px 250px;
  position: relative;
  display: flex;
  align-content: center;
  -ms-flex-pack: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  transition: all .3s ease-in-out;
  border-radius: 20px 20px 0 0; }

.up-btn-popup {
  position: absolute;
  top: -10px;
  left: -10px;
  background: white;
  border-radius: 4px;
  padding: 7px 10px;
  transform: rotate(180deg);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  display: inline-block; }
  .up-btn-popup button {
    background: none; }

.btn-popup {
  position: relative;
  float: right;
  width: 300px;
  margin-left: 100px; }
  .btn-popup .btn-profil {
    width: 260px;
    margin-bottom: 10px; }

form.filed .form-group {
  margin-bottom: 20px;
  position: relative;
  padding-right: 37px;
  border-bottom: 1px solid #3d5da8;
  display: inline-block;
  width: 100%; }
  form.filed .form-group textarea {
    width: 100%;
    border: 1px solid #3d5da8;
    padding: 15px;
    display: inline-block;
    height: 110px;
    margin-top: 10px; }
  form.filed .form-group span.le-message {
    text-align: right;
    font-style: italic;
    display: inline-block;
    width: 100%;
    color: #3d5da8; }
  form.filed .form-group img.succes-filed {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 9px; }
  form.filed .form-group img.error-filed {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 9px; }
  form.filed .form-group label {
    color: #000;
    text-transform: uppercase;
    margin: 0;
    padding: 0; }
  form.filed .form-group input {
    box-shadow: none;
    border-radius: 0;
    font-size: 14px !important;
    border: 0;
    color: #3d5da8;
    padding: 0 16px !important;
    padding-right: 5px !important; }

.form-flex {
  border: 0 !important; }
  .form-flex img, .form-flex b {
    float: left;
    margin-top: 20px; }
  .form-flex b {
    font-size: 20px;
    color: #3d5da8; }
  .form-flex .btn-action-filed {
    float: left; }

.mt40 {
  margin-top: 40px; }

.mt60 {
  margin-top: 60px; }

.mt50 {
  margin-top: 50px; }

.mt20 {
  margin-top: 20px; }

.logo-filed-form {
  margin-top: 20px; }
  .logo-filed-form img {
    margin-right: 15px; }

.btn-action-filed {
  width: 300px; }

.checkbox-status {
  float: left; }
  .checkbox-status label::before {
    border: 1px solid #b8b8b8; }
  .checkbox-status label span {
    margin-top: 3px;
    float: right;
    color: #b8b8b8;
    position: relative; }
    .checkbox-status label span::before {
      position: absolute;
      left: -12px;
      top: 6px;
      width: 8px;
      height: 8px;
      content: '';
      display: block;
      border-radius: 50%;
      background: #76BA69; }
    .checkbox-status label span .styled-checkbox:checked + label:before {
      background: #fff;
      border: 1px solid #b8b8b8 !important; }
    .checkbox-status label span.occupied {
      color: #b8b8b8; }
      .checkbox-status label span.occupied::before {
        background: #b8b8b8; }
      .checkbox-status label span.occupied .styled-checkbox:checked + label:before {
        background: #fff;
        border: 1px solid #b8b8b8 !important; }
    .checkbox-status label span.reserved {
      color: #0C0; }
      .checkbox-status label span.reserved::before {
        background: #0C0; }
      .checkbox-status label span.reserved .styled-checkbox:checked + label:before {
        background: #fff;
        border: 1px solid #0C0 !important; }
  .checkbox-status .styled-checkbox {
    position: absolute;
    opacity: 0; }
    .checkbox-status .styled-checkbox + label {
      position: relative;
      cursor: pointer;
      font-style: italic;
      padding: 0; }
    .checkbox-status .styled-checkbox + label:before {
      content: '';
      margin-right: 17px;
      display: inline-block;
      vertical-align: text-top;
      width: 25px;
      border-radius: 3px;
      height: 25px;
      background: white;
      border: 0;
      margin-top: -3px;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.2); }
    .checkbox-status .styled-checkbox:checked + label:before {
      background: #fff;
      border: 1px solid #3d5da8; }
    .checkbox-status .styled-checkbox:disabled + label {
      color: #b8b8b8;
      cursor: auto; }
    .checkbox-status .styled-checkbox:disabled + label:before {
      box-shadow: none;
      background: #fff; }
    .checkbox-status .styled-checkbox:checked + label:after {
      content: '';
      display: block;
      position: absolute;
      top: 3px;
      left: 10px;
      width: 6px;
      color: #3d5da8;
      background: white;
      height: 13px;
      box-shadow: none !important;
      border: solid;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg); }
  .checkbox-status .available span {
    color: #b8b8b8; }
    .checkbox-status .available span::before {
      background: #b8b8b8; }
  .checkbox-status .available .styled-checkbox:hover + label:before {
    background: #fff;
    border: 1px solid #b8b8b8; }
  .checkbox-status .available .styled-checkbox:checked + label:before {
    background: #fff;
    border: 1px solid #b8b8b8; }
  .checkbox-status .available .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .checkbox-status .available .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #fff; }
  .checkbox-status .available .styled-checkbox:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 8px;
    width: 6px;
    background: white;
    color: #b8b8b8;
    height: 14px;
    box-shadow: none !important;
    border: solid #b8b8b8;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg); }

.link-passe {
  display: inline-block;
  width: 100%;
  text-align: right;
  margin-top: 25px; }
  .link-passe a {
    color: #d4164a;
    font-weight: bold;
    font-style: italic;
    text-decoration: none; }

.table-choisissez-610 {
  margin: 0; }
  .table-choisissez-610 .table-data {
    margin: 0;
    padding: 0; }
  .table-choisissez-610 table {
    margin: 0; }
  .table-choisissez-610 .icon-close-table-10 {
    height: 22px; }
  .table-choisissez-610 tr td {
    vertical-align: baseline; }
  .table-choisissez-610 tr input {
    width: 70px;
    border-radius: 4px;
    height: 30px;
    text-align: center;
    border: 1px solid #999999 !important; }

.logo-filed {
  height: 48px; }

.choisissez-body {
  display: inline-block;
  height: 88%;
  width: 100%; }
  .choisissez-body .scrollbar {
    height: 98%;
    padding-left: 0;
    padding-right: 0;
    width: initial;
    margin-right: -15px;
    margin-left: -15px; }
    .choisissez-body .scrollbar .row {
      margin: 0; }
  .choisissez-body .item-choisissez ul {
    padding: 0;
    border-radius: 10px;
    border: 1px solid #3d5da8; }
    .choisissez-body .item-choisissez ul li {
      border-bottom: 1px solid #3d5da8;
      padding: 20px 15px;
      text-align: center;
      list-style: none; }
      .choisissez-body .item-choisissez ul li b {
        font-size: 20px;
        color: #3d5da8; }
      .choisissez-body .item-choisissez ul li img {
        height: 15px; }
      .choisissez-body .item-choisissez ul li:nth-last-child(1) {
        border: 0 !important; }
      .choisissez-body .item-choisissez ul li span {
        font-size: 14px; }
      .choisissez-body .item-choisissez ul li .dollar {
        font-size: 25px;
        color: #d4164a; }
      .choisissez-body .item-choisissez ul li button {
        width: 100%;
        display: inline-block;
        height: 40px;
        border-radius: 32px;
        background: #3d5da8;
        color: white;
        text-align: center;
        font-weight: bold;
        font-size: 14px;
        padding: 6px 0;
        text-decoration: none; }
        .choisissez-body .item-choisissez ul li button:disabled {
          background: #AFAFAF !important; }
        .choisissez-body .item-choisissez ul li button.active {
          background: #d4164a; }
      .choisissez-body .item-choisissez ul li strong {
        font-size: 28px;
        color: #d4164a; }

.title-body-data {
  width: 100%;
  float: left; }
  .title-body-data h1 {
    float: left;
    margin-top: 6px;
    width: initial !important;
    margin-right: 20px; }
  .title-body-data .button-Ajouter {
    margin-right: 20px;
    margin-top: 0px;
    float: left; }

.coupon-box {
  display: inline-block;
  border-top: 1px solid #999999;
  width: 100%;
  padding: 0 15px;
  padding-top: 40px; }
  .coupon-box input {
    height: 40px;
    border: 1px solid #999999;
    border-radius: 4px;
    padding: 10px 15px;
    width: 220px;
    text-align: left; }
  .coupon-box button {
    height: 40px;
    border-radius: 100px;
    background: #3d5da8;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 5px 40px; }

.scrollbar {
  height: 69vh;
  width: 100%;
  margin: auto;
  overflow-y: auto; }

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #0878BE; }

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #0878BE; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 0px;
  background-color: #16ACE4; }

.table-choisissez {
  margin-top: 30px;
  padding: 0 15px; }
  .table-choisissez h2 {
    text-transform: uppercase;
    font-size: 20px;
    color: #3d5da8;
    font-weight: bold; }
  .table-choisissez .table-data {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
    min-height: initial;
    margin-top: 10px; }
    .table-choisissez .table-data table {
      margin-bottom: 0; }
    .table-choisissez .table-data th {
      text-align: center; }
    .table-choisissez .table-data tr td {
      text-align: center; }
      .table-choisissez .table-data tr td img {
        height: 15px; }

.creer {
  display: inline-block;
  width: 100%;
  padding-left: 22px;
  margin-top: 33px; }
  .creer img {
    float: left;
    margin-right: 20px; }
  .creer span {
    color: #d4164a;
    font-style: italic;
    font-weight: bold; }

.pl-40 {
  padding-left: 40px; }

.pr-40 {
  padding-right: 40px;
  border-right: 1px solid #3d5da8; }

:disabled {
  cursor: no-drop !important; }

.footer-login {
  position: fixed;
  bottom: 5px;
  text-align: center;
  width: 100%;
  left: 0; }
  .footer-login span {
    font-size: 13px; }
  .footer-login i {
    width: 44px;
    background: #3d5da8;
    display: block;
    height: 1px;
    margin: auto; }

.body-project {
  padding: 15px;
  padding-bottom: 60px;
  padding-top: 156px;
  height: 100vh;
  position: relative; }

.body-data {
  width: 100%;
  height: 107%;
  position: relative;
  display: inline-block;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 20px; }

.btn-submit-data {
  margin-top: 30px;
  text-align: center; }
  .btn-submit-data .button-Ajouter {
    display: inline-block; }
    .btn-submit-data .button-Ajouter a.disable {
      pointer-events: none;
      cursor: no-drop;
      background: #AFAFAF !important; }

body .button-line button.button-solid {
  background: #3d5da8 !important;
  color: white !important; }
  body .button-line button.button-solid:hover {
    background: #f3f2dc !important;
    color: #677692 !important; }

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  border-radius: 10px;
  margin-top: -136px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  background: white; }
  header .logo {
    margin: 7px 0 0 10px;
    display: inline-block; }
  header ul {
    display: flex; }
    header ul li {
      list-style: none;
      display: inline-block; }
      header ul li a {
        padding: 17px 37px;
        display: inline-block;
        text-decoration: none !important;
        font-size: 14px;
        color: #3d5da8; }
      header ul li:hover a, header ul li.active a {
        color: #d4164a; }

.back-head {
  background: none !important;
  width: inherit !important;
  margin-left: 28px;
  margin-right: 0;
  margin-top: 6px !important;
  padding: 0 !important;
  float: right; }
  .back-head img {
    height: 15px; }

.link-action {
  margin: 10px 11px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline; }
  .link-action a {
    width: 170px;
    display: inline-block;
    height: 40px;
    border-radius: 32px;
    background: #3d5da8;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    padding: 8px 0;
    text-decoration: none; }
    .link-action a:hover {
      background: #f3f2dc;
      color: #677692 !important; }

body .btn-profil button:disabled {
  background: #999999 !important;
  color: white !important; }

.btn-profil-action button {
  float: left; }
  .btn-profil-action button.button-activer-le {
    width: 70%; }
  .btn-profil-action button.button-annuler {
    width: 29%;
    margin-left: 1%; }

.link-footer {
  position: fixed;
  bottom: 28px;
  width: 100%;
  text-align: center; }
  .link-footer a {
    font-style: italic;
    font-weight: bold;
    color: #3d5da8;
    font-size: 14px;
    padding: 0 12px;
    text-decoration: none !important; }

.w-200 {
  width: 200px !important; }

.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0; }

.overlay:target {
  visibility: visible;
  opacity: 1; }

#messagerie .popup {
  padding: 50px;
  position: relative; }
  #messagerie .popup .close-popup-message {
    position: absolute;
    top: 10px;
    right: 10px; }
    #messagerie .popup .close-popup-message img {
      width: 30px; }
  #messagerie .popup .form-group {
    border-bottom: 0 !important; }
  #messagerie .popup input {
    height: 40px;
    width: 100%;
    display: inline-block;
    margin-top: 15px;
    border: 1px solid #3d5da8; }

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative; }

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif; }

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333; }

.popup .close:hover {
  color: #06D85F; }

.popup .content {
  max-height: 30%;
  overflow: auto; }

.max-w-370 {
  max-width: 370px; }

.frontend-login {
  width: 1200px;
  margin: auto; }
  .frontend-login .description-frontend {
    width: 551px;
    margin-right: 139px;
    text-align: left;
    float: left;
    margin-top: 300px; }
    .frontend-login .description-frontend h3 {
      color: #d4164a;
      margin: 20px;
      font-size: 28px !important;
      padding: 0;
      margin: 0;
      font-weight: bold;
      margin-bottom: 20px; }
    .frontend-login .description-frontend p {
      font-size: 14px;
      font-style: italic; }
  .frontend-login .content-login {
    float: left; }

.title-page {
  font-size: 20px;
  color: #d4164a;
  display: inline-block;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0; }

.filed-search {
  position: absolute;
  width: 393px;
  right: 52px;
  height: 28px;
  padding-right: 30px;
  top: 10px;
  border-bottom: 1px solid #999999; }
  .filed-search input {
    width: 100%;
    font-size: 14px; }
  .filed-search button {
    position: absolute;
    right: 0;
    background: none;
    top: 0; }
    .filed-search button img {
      width: 14px; }

.pagging-table {
  position: absolute;
  bottom: 15px;
  display: flex;
  justify-content: space-between;
  right: 52px;
  width: 208px; }
  .pagging-table span {
    margin-top: 0px; }
  .pagging-table .btn-pagging {
    background: #3d5da8;
    width: 51px;
    text-align: center;
    border-radius: 5px; }
    .pagging-table .btn-pagging button {
      background: none; }
      .pagging-table .btn-pagging button img {
        height: 10px;
        display: inline-block;
        margin-top: -4px; }
  .pagging-table input {
    width: 51px;
    height: 22px;
    border: 1px solid #3d5da8;
    color: #000;
    text-align: center;
    border-radius: 5px; }
    .pagging-table input::placeholder {
      color: #000; }

.list-content-legal {
  display: inline-block;
  padding: 0 50px;
  position: relative;
  width: 100%;
  margin-top: 20px; }
  .list-content-legal::before {
    width: 1px;
    height: 100%;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 25px;
    background: #3d5da8; }
  .list-content-legal .item-legal {
    display: inline-block;
    padding: 30px 0;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #3d5da8; }
    .list-content-legal .item-legal:nth-child(1) {
      padding-top: 0; }
    .list-content-legal .item-legal::before {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      display: block;
      position: absolute;
      bottom: -4px;
      left: -29px;
      background: #3d5da8; }
    .list-content-legal .item-legal h6 {
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase;
      display: inline-block;
      color: #3d5da8;
      width: 100%; }
    .list-content-legal .item-legal p {
      font-size: 14px;
      display: inline-block;
      width: 100%;
      color: #3d5da8; }

.table-data {
  width: 100%;
  display: inline-block;
  margin-top: 10px;
  height: 100%;
  padding-bottom: 84px; }
  .table-data table thead {
    border: 0; }
    .table-data table thead tr {
      border: 0; }
      .table-data table thead tr th {
        color: #3d5da8;
        font-size: 14px;
        background: #f7f7f7;
        border: 0;
        padding: 5px 10px;
        font-weight: bold; }
  .table-data table tbody tr td {
    border: 0;
    color: #3d5da8;
    font-size: 13px;
    padding: 5px 10px; }
    .table-data table tbody tr td a {
      width: 100%;
      text-align: center;
      display: block; }
      .table-data table tbody tr td a img {
        height: 13px; }
  .table-data table tbody tr:nth-child(even) {
    background: #f7f7f7; }

.group-authenticator {
  position: relative; }
  .group-authenticator .error-text-inpage {
    position: absolute;
    left: 425px;
    top: 0; }
    .group-authenticator .error-text-inpage span {
      left: 0; }

.link-back {
  display: inline-block;
  width: 100%;
  text-align: left;
  margin-top: 28px; }
  .link-back a {
    text-decoration: none; }
  .link-back img {
    float: left;
    margin-right: 16px;
    margin-top: 7px; }
  .link-back b {
    font-weight: bold;
    font-size: 14px;
    color: #d4164a; }

.code-authentication button.btn-code-authentication {
  margin-top: 50px; }

.td-center {
  text-align: center; }

.mt-40 {
  margin-top: 40px; }

.mt-30 {
  margin-top: 30px; }

.mt-25 {
  margin-top: 25px; }

.error-text {
  display: inline-block;
  width: 100%;
  text-align: center; }
  .error-text span {
    color: #d4164a;
    font-style: italic;
    text-align: center; }

.box-filed-nouvelle {
  width: 100%; }
  .box-filed-nouvelle.enable-blue label {
    color: black !important;
    text-transform: uppercase; }
  .box-filed-nouvelle.enable-blue input {
    border-color: #3d5da8 !important; }
  .box-filed-nouvelle.enable-blue .btn-change-logo {
    border: 1px solid #3d5da8 !important; }
    .box-filed-nouvelle.enable-blue .btn-change-logo button {
      color: #3d5da8 !important; }
    .box-filed-nouvelle.enable-blue .btn-change-logo:hover {
      background: #f3f2dc;
      border: 1px solid #f3f2dc !important;
      color: #677692 !important; }
  .box-filed-nouvelle.enable-blue .logo-form-change .logo-form {
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%233D5DA8FF' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px; }
  .box-filed-nouvelle.enable-blue .form-nom b {
    color: #3d5da8; }
  .box-filed-nouvelle.enable-blue img {
    -webkit-filter: grayscale(0%) !important;
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%) !important; }
  .box-filed-nouvelle .form-group {
    padding-right: 0 !important; }

.filed-premium.form-group {
  border-bottom: 0 !important; }

.seclect-box {
  display: inline-block;
  width: 100%; }
  .seclect-box select {
    width: 100%;
    height: 38px;
    border: 0;
    padding-left: 16px;
    color: #3d5da8;
    display: inline-block; }

.premium-btn {
  margin-top: 30px;
  width: 100%; }
  .premium-btn button {
    height: 40px;
    width: 100%;
    background: #3d5da8;
    display: inline-block;
    border-radius: 60px;
    color: white;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
    padding: 7px 0; }
    .premium-btn button:hover {
      background: #f3f2dc;
      color: #677692 !important; }
    .premium-btn button:disabled {
      background: #afafaf; }
  .premium-btn .col-md-6:nth-child(1) {
    padding-right: 5px; }
  .premium-btn .col-md-6:nth-child(2) {
    padding-left: 5px; }

.form-qrcode {
  max-width: 400px; }
  .form-qrcode span {
    color: #d4164a;
    position: absolute;
    left: 400px;
    font-style: italic;
    top: 23px;
    text-align: left;
    width: 300px; }

.button-line button, .button-line a {
  height: 40px;
  width: 100%;
  background: white;
  display: inline-block;
  text-decoration: none;
  border-radius: 60px;
  color: #3d5da8;
  border: 1px solid #3d5da8;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  padding: 7px 0;
  margin-bottom: 15px; }
  .button-line button:hover, .button-line a:hover {
    background: #f3f2dc;
    border: 1px solid #f3f2dc !important;
    color: #677692 !important; }
  .button-line button:disabled, .button-line a:disabled {
    background: #afafaf !important;
    color: white !important;
    border: 1px solid #afafaf !important; }
  .button-line button.active, .button-line a.active {
    border: 1px solid #d4164a !important;
    color: #d4164a !important; }

.form-nom {
  border: 0 !important; }
  .form-nom label {
    color: #afafaf !important;
    display: inline-block;
    width: 100%; }
  .form-nom input {
    height: 40px;
    border: 1px solid #afafaf !important;
    border-radius: 10px !important;
    width: 220px;
    margin-top: 17px;
    display: inline-block;
    margin-right: 15px; }
  .form-nom b {
    font-size: 14px;
    color: #afafaf;
    font-weight: normal; }

.logo-form-change {
  display: flex; }
  .logo-form-change .logo-form {
    width: 58px;
    height: 48px;
    text-align: center;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23AFAFAFFF' stroke-width='1' stroke-dasharray='9' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 10px;
    padding: 11px 0;
    margin-top: 17px; }
    .logo-form-change .logo-form img {
      display: initial !important;
      left: initial !important;
      top: initial !important;
      width: initial !important;
      height: initial !important;
      position: relative !important;
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      height: 23px !important; }
  .logo-form-change .btn-change-logo {
    height: 40px;
    border: 1px solid #afafaf !important;
    border-radius: 32px !important;
    width: 220px;
    margin-top: 17px;
    display: inline-block;
    margin-right: 15px;
    box-sizing: border-box;
    letter-spacing: 4px;
    margin-left: 39px; }
    .logo-form-change .btn-change-logo button {
      width: 100%;
      height: 100%;
      border-radius: 32px;
      background: none;
      font-size: 14px;
      color: #afafaf; }

.color-box {
  float: left;
  margin-top: 17px; }
  .color-box span {
    width: 25px;
    height: 25px;
    background: #afafaf;
    display: inline-block;
    margin-right: 13px; }

.m-17 {
  display: inline-block;
  font-style: italic;
  margin-top: 17px; }

.btn-total {
  display: inline-block;
  width: 100%;
  margin-top: 70px;
  text-align: center; }
  .btn-total button {
    display: inherit;
    height: 40px;
    background: #3d5da8;
    padding: 8px 50px;
    color: white;
    border-radius: 32px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 5px; }
    .btn-total button:hover {
      background: #f3f2dc;
      color: #677692 !important; }
    .btn-total button:disabled {
      background: #afafaf;
      color: white; }

.error-text-inpage {
  min-height: 82px; }
  .error-text-inpage .error-text {
    text-align: left; }

.ml-50 {
  margin-left: 50px !important; }

.ml-30 {
  margin-left: 30px !important; }

.none-css {
  display: none !important; }

body .activiter-btn {
  border: 2px solid #3d5da8 !important;
  background: none !important;
  color: #3d5da8 !important; }
  body .activiter-btn:hover {
    background: #3d5da8 !important;
    border: 1px solid #3d5da8 !important;
    color: white !important; }
  body .activiter-btn:disabled {
    background: #afafaf !important;
    color: white !important;
    border: 1px solid #afafaf !important; }
    body .activiter-btn:disabled:hover {
      color: #677692 !important; }

.mt-20 {
  margin-top: 20px !important; }

.mt-30 {
  margin-top: 30px !important; }

.none-border {
  border-bottom: 0 !important; }

.form-compte form {
  max-width: initial; }
  .form-compte form .form-group {
    margin-bottom: 20px; }
    .form-compte form .form-group input {
      height: 22px; }
.form-compte .button-line button {
  width: initial !important;
  padding: 0 50px; }
.form-compte .modifier-le-logo {
  margin-top: 50px; }

.description-frontend h1 {
  color: #d4164a;
  font-size: 32px; }
.description-frontend p {
  font-size: 20px;
  color: #3d5da8; }

.profil-body {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block; }

.flex-profil {
  display: flex;
  height: 107%;
  width: 100%;
  position: relative;
  padding-left: 360px;
  justify-content: space-between; }

.profil-left {
  padding-right: 20px;
  position: absolute;
  left: 0;
  height: 100%;
  top: 0;
  width: 360px; }

.content-profil-left {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  padding: 19px;
  padding-top: 30px;
  z-index: 1; }

.content-profil-right {
  position: relative; }
  .content-profil-right h2 {
    font-size: 20px;
    text-transform: uppercase;
    color: #d4164a;
    font-weight: bold;
    display: inline-block;
    width: 100%; }
  .content-profil-right p {
    font-size: 14px;
    color: #3d5da8;
    font-style: italic;
    display: inline-block;
    width: 100%; }
  .content-profil-right h6 {
    font-size: 14px;
    color: #d4164a;
    text-transform: uppercase;
    display: inline-block;
    width: 100%; }
  .content-profil-right .btn-profil {
    height: 40px;
    background: #3d5da8;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 32px;
    margin-top: 30px;
    width: initial;
    margin-right: 10px; }

.qrcode {
  position: relative;
  padding-right: 300px;
  min-height: 15px; }
  .qrcode .img-qrcode img {
    position: absolute;
    right: 0;
    top: 0;
    height: 123px; }

.item-profil {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 56px;
  margin-bottom: 20px; }
  .item-profil b {
    font-size: 25px;
    font-weight: 600;
    color: #d4164a; }
  .item-profil span {
    color: #3d5da8;
    font-style: italic;
    font-size: 14px;
    display: inline-block;
    width: 100%; }
  .item-profil img {
    position: absolute;
    left: 0;
    top: 16px; }

.btn-profil {
  height: 40px;
  background: #3d5da8;
  display: inline-block;
  padding: 9px 0;
  width: 100%;
  margin-bottom: 22px;
  border-radius: 32px; }
  .btn-profil a, .btn-profil button {
    color: white;
    text-align: center;
    display: inline-block;
    text-decoration: none !important;
    width: 100%;
    font-weight: bold;
    font-size: 14px;
    background: none !important; }
  .btn-profil:nth-last-child(1) {
    margin-bottom: 0; }
  .btn-profil:hover {
    background: #dad9c7; }
    .btn-profil:hover a {
      color: #677692 !important; }
  .btn-profil.disabled {
    background: #afafaf !important;
    color: white !important;
    pointer-events: none;
    cursor: no-drop; }

.profil-right {
  width: 100%;
  padding-left: 20px; }

.body-legal h1 {
  padding: 0 15px; }

.scrollbar {
  height: 96%;
  width: 100%;
  overflow-y: auto; }

#wrapper {
  text-align: center;
  width: 100%;
  margin: auto; }

/*
 *  STYLE 1
 */
#style-1::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #E5E5E5; }

#style-1::-webkit-scrollbar {
  width: 6px;
  background-color: #E5E5E5; }

#style-1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #949494; }

.filed-nom-domain label, .filed-nom-domain b {
  float: left !important;
  margin-top: 0;
  text-transform: uppercase;
  margin-right: 15px;
  width: initial !important; }

.show-popup::before {
  display: none; }
.show-popup .popup-showup-content {
  padding: 0; }
.show-popup .up-btn-popup {
  top: -37px;
  transform: rotate(0deg); }
.show-popup .content-popup {
  display: none; }

@media only screen and (max-width: 1500px) {
  .form-UTILISATEURSExporter .button-line button, .form-UTILISATEURSExporter .button-line a {
    height: 40px;
    padding: 5px 0 !important;
    font-size: 14px; }

  .group-authenticator .error-text-inpage span {
    width: 230px; }

  .body-contact h2 {
    margin-bottom: 27px; }

  .form-UTILISATEURSExporter .form-group {
    margin-bottom: 0px !important; }

  .body-data {
    padding: 20px;
    padding-top: 10px; }

  .title-body-data .button-Ajouter {
    margin-right: 20px;
    margin-top: -5px;
    float: left; } }
@media only screen and (max-width: 1400px) {
  .body-contact {
    margin-top: 10px;
    padding: 10px 112px 20px 112px; }

  .content-profil-left {
    margin-top: 10px; }

  .choisissez-body {
    display: inline-block;
    height: 83%;
    width: 100%; }

  button.btn-submit {
    margin-top: 15px; }

  .form-UTILISATEURSExporter .button-line button, .form-UTILISATEURSExporter .button-line a {
    height: 35px;
    padding: 6px 0 !important;
    font-size: 14px; }

  .bt-UTILISATEURSExporter .button-Ajouter a {
    display: inline-block;
    height: 39px;
    border-radius: 32px;
    font-size: 14px !important;
    padding: 9px 40px;
    text-decoration: none; }

  .link-footer {
    bottom: 22px; }

  .footer-login {
    bottom: 1px; }

  header .logo img {
    height: 40px; }

  .link-action a {
    width: 188px;
    height: 40px;
    border-radius: 32px;
    font-size: 14px;
    padding: 8px 0; }

  header ul li a {
    padding: 13px 17px;
    font-size: 16px; }

  header {
    height: 54px;
    margin-top: -79px; }

  .body-data {
    padding: 20px;
    padding-top: 10px;
    margin-top: 10px; }

  .link-action {
    margin: 7px 11px 0 0; }

  .button-Ajouter a {
    display: inline-block;
    height: 40px;
    border-radius: 32px;
    font-size: 14px !important;
    padding: 8px 40px; }

  .body-project {
    padding-bottom: 35px;
    padding-top: 90px; } }
@media only screen and (max-width: 1025px) {
  .content-login {
    width: 96%; }

  .login-form h1 {
    font-size: 32px; }

  .box-login h2 {
    font-size: 20px; }

  .login-form {
    margin-top: 50px; }

  .content-login {
    width: 100%;
    padding: 0 15px;
    max-width: 600px;
    float: initial !important;
    margin-left: auto;
    margin-right: auto; }

  .link-footer {
    margin-bottom: 20px;
    margin-top: 20px;
    bottom: 0; }
    .link-footer a {
      display: inline-block;
      width: 100%;
      text-align: center;
      padding: 5px 0; }

  header .logo img {
    height: 46px; }

  .logo {
    width: 59px;
    height: 70px;
    padding: 10px;
    overflow: hidden;
    display: inline-block;
    margin: 0 !important; }

  .body-contact {
    max-width: 100%;
    margin: auto;
    position: relative;
    background: white;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px; }

  .login-form {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
    position: relative; }

  .footer-login, .link-footer {
    position: relative; }

  .frontend-login {
    width: 100% !important; }

  .frontend-login .description-frontend {
    width: 100%;
    text-align: left;
    float: left;
    display: none;
    margin: 70px 0 0 0 !important;
    padding: 0 15px; }

  .labguage-site {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex; }

  .back-head img {
    width: 27px; }

  .link-action {
    margin: 12px 0px 0 0; }

  .body-project {
    padding-bottom: 0;
    padding-top: 90px; }

  .body-project {
    margin-bottom: 20px;
    height: initial; }

  form.filed .form-group textarea {
    margin-top: 10px; }

  header nav {
    position: fixed;
    width: 100%;
    background: white;
    height: 100%;
    z-index: 9;
    left: 0;
    top: 0;
    display: none; }

  .link-action a {
    margin-right: 10px; }

  .mobile-menu {
    display: inline-block !important;
    position: relative;
    left: 20px;
    top: 23px; }
    .mobile-menu img {
      height: 18px; }
      .mobile-menu img.menu-mobile {
        display: block !important; }

  .link-action a {
    width: inherit;
    height: 45px;
    border-radius: 32px;
    font-size: 16px;
    padding: 10px 22px; }

  nav .mobile-menu {
    display: inline-block !important; }

  header.active-menu nav {
    display: inline-block !important; }

  header ul {
    display: inline-block;
    width: 100%;
    padding-top: 80px;
    padding-left: 20px; }
    header ul li {
      display: inline-block;
      width: 100%;
      text-align: left; }

  .close-menu-mobile {
    position: absolute;
    left: 22px;
    top: -6px; }

  .content-popup {
    width: 100%;
    background: white;
    margin: auto;
    padding: 15px;
    display: inline-block; }

  .popup-showup-body h6 {
    border: 0; }

  .list-content-legal {
    padding: 0px; }

  .body-legal h1 {
    padding: 0px;
    margin-bottom: 20px; }

  .list-content-legal::before {
    display: none; }

  form .footer-login {
    display: none; }

  .footer-login {
    margin-top: 20px; }

  .table-data {
    margin-top: 15px;
    overflow-x: auto; }

  .filed-search {
    width: 100%;
    right: 0;
    height: 26px;
    padding-right: 30px;
    top: 18px;
    position: relative;
    margin-bottom: 20px; }

  .pagging-table {
    position: absolute;
    bottom: 15px;
    display: flex;
    justify-content: space-between;
    right: 20px;
    width: 208px; }

  .back-head {
    margin-left: 0; }

  .pr-40 {
    border: 0;
    padding-right: 15px; }

  .premium-btn {
    margin: 20px 0 0 0; }

  .premium-btn .col-md-6 {
    padding: 0 !important;
    margin-bottom: 15px; }

  .pl-40 {
    padding: 0 15px; }

  .btn-total {
    margin-right: 0 !important;
    margin-left: 0 !important; }

  .btn-total button {
    height: 45px;
    padding: 10px 10px;
    font-size: 16px;
    margin: 0;
    width: 100%;
    margin-bottom: 15px; }

  .flex-profil {
    display: inline-block;
    height: initial;
    width: 100%;
    position: relative;
    padding-left: initial;
    justify-content: initial; }

  .profil-left {
    padding-right: initial;
    position: relative;
    left: 0;
    height: initial;
    top: 0;
    width: 100%; }

  .item-profil {
    position: relative;
    width: 50%;
    float: left; }

  .btn-profil {
    width: 100%; }

  .profil-right {
    padding-left: 0; }

  .content-profil-right .btn-profil {
    height: 45px;
    padding: 8px 15px;
    width: 100%; }

  .qrcode {
    position: relative;
    padding-right: 0;
    min-height: 15px; }

  .btn-profil-action button.button-activer-le {
    width: 100%; }

  .btn-profil-action button.button-annuler {
    width: 100%;
    margin-left: 0; }

  .qrcode .img-qrcode {
    right: inherit;
    top: -260px;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
    left: 0; }

  .qrcode .img-qrcode img {
    height: 120px;
    position: relative;
    right: inherit; }

  .btn-profil-action {
    margin-top: 190px; }

  .form-qrcode {
    max-width: 100%; }

  .form-compte .button-line button {
    width: 100% !important;
    padding: 0 13px;
    margin: 0 0 15px !important;
    font-size: 14px; }

  .form-compte .modifier-le-logo {
    margin-top: 0;
    padding: 0; }
    .form-compte .modifier-le-logo button {
      margin: 0 !important;
      margin-bottom: 20px !important; }

  .title-body-data .button-Ajouter {
    float: left;
    width: 100%;
    margin: 15px 0; }

  .button-line button, .button-line a {
    height: 45px;
    font-size: 14px;
    padding: 9px 0;
    width: 100% !important; }

  .bt-UTILISATEURSExporter {
    margin: 0 !important; }
    .bt-UTILISATEURSExporter .button-Ajouter {
      width: 100%;
      margin-bottom: 15px; }
      .bt-UTILISATEURSExporter .button-Ajouter a, .bt-UTILISATEURSExporter .button-Ajouter button {
        width: 100%; }

  .btn-Modifier {
    padding: 0 !important; }

  .form-UTILISATEURSExporter .button-line button, .form-UTILISATEURSExporter .button-line a {
    height: 45px;
    padding: 11px 0 !important;
    margin-bottom: 10px !important; }

  .group-authenticator .error-text-inpage {
    position: absolute;
    left: 0;
    top: 40px; }

  .btn-form-center {
    display: inline-block;
    padding: 0 !important; }
    .btn-form-center button {
      margin-left: 0 !important; }

  .total-messager {
    position: relative;
    right: 0;
    top: 6px;
    text-align: right; } }

/*# sourceMappingURL=style.css.map */
