
@media only screen and (max-width: 1760px) {
	.total-messager{
		position: absolute;
		right: 440px;
		top: 27px;
		text-align: right;
	}
	.bt-UTILISATEURSExporter .button-Ajouter a {
		display: inline-block;
		height: 51px;
		border-radius: 32px;
		font-size: 16px !important;
		padding: 13px 40px;
		text-decoration: none;
	}
	.choisissez-body .item-choisissez ul li button{
		width: 100%;
		height: 45px;
		border-radius: 32px;
		font-size: 16px;
		padding: 10px 0;
	}
	.table-choisissez h2 {
		font-size: 22px;
	}
	.choisissez-body .item-choisissez ul li b {
		font-size: 22px;
		color: #3d5da8;
	}
	.button-Ajouter{
		
		a{
			display: inline-block;
			height: 45px;
			border-radius: 32px;
			font-size: 16px !important;
			padding: 10px 40px;
			text-decoration: none;
		}
	}
	
	.btn-total{
		margin-top: 30px;
		button{
			height: 45px;
			padding: 10px 30px;
			font-size: 16px;
			margin: 0 8px;
		}
	}
	.btn-profil {
		margin-bottom: 15px;
	}
	.item-profil {
		padding-left: 46px;
		margin-bottom: 10px;
	}
	.box-login{
		margin-top: 20px;
	}
	.login-form h1{
		font-size: 42px;
	}
	.login-form b {
		font-size: 20px;
	}
	.box-login{
		padding: 30px;
	}
	form.filed .form-group img {
		width: 22px !important;
		height: 22px !important;
	}
	.box-login h2 {
		font-size: 25px;
		margin-bottom: 30px;
	}
	*{
		font-size: 14px;
	}
	.box-login button {
		font-size: 16px;
	}
	form.filed .form-group {
		margin-bottom: 20px;
	}
	.link-passe {
		margin-top: 15px;
	}
	.box-login button{
		margin-top: 20px;
	}
	.creer {
		margin-top: 20px;
	}
	header ul li a {
		padding: 23px 17px;
		font-size: 16px;
	}
	header {
		height: 70px;
		margin-top: -79px;
	}
	.body-project {
		padding-bottom: 75px;
		padding-top: 90px;
	}
	.pagging-table .btn-pagging button {
		padding: 3px 5px;
	}
	header .logo {
		margin: 7px 0 0 11px;
		img{
			height: 54px;
		}
	}
	.link-action a {
		width: 188px;
		height: 45px;
		border-radius: 32px;
		font-size: 16px;
		padding: 10px 0;
	}
	
	.link-action {
		margin: 12px 11px 0 0;
	}
	.link-footer a {
		font-size: 14px;
		padding: 0 12px;
	}
	.footer-login span {
		font-size: 14px;
	}
	.footer-login {
		bottom: 7px;
	}
	.link-footer {
		bottom: 30px;
	}
	.body-data {
		padding: 20px;
	}
	.title-page {
		font-size: 18px;
	}
	.filed-search {
		width: 393px;
		right: 20px;
		height: 26px;
		padding-right: 30px;
		top: 18px;
	}
	.table-data table tbody tr td {
		font-size: 13px;
		padding: 5px 10px;
	}
	.table-data {
		margin-top: 15px;
	}
	.table-data table thead tr th {
		font-size: 13px;
	}
	.filed-search input {
		font-size: 14px;
	}
	.search-icon img{
		width: 17px;
	}
	.icon-edit{
		width: 13px;
	}
	.premium-btn button {
		height: 45px;
		font-size: 16px;
		padding: 9px 0;
	}
	.button-line{
		button, a{
			height: 45px;
			font-size: 16px;
			padding: 9px 0;
			&:disabled{
				background: #afafaf;
			}
			&.active{
				&:hover{
					background: #b45ad4 !important;
					border: 1px solid #b45ad4 !important;
					color: white !important;
				}
			}
		}
	}
	.border-none span{
		font-size: 14px;
		margin-top: 10px;
	}
	.form-nom b {
		font-size: 14px;
	}
	.form-nom input {
		height: 45px;
	}
	.logo-form-change .btn-change-logo {
		margin-left: 20px;
		height: 45px;
		button{
			font-size: 14px;
		}
	}
	.logo-form-change .logo-form {
		width: 50px;
		height: 50px;
		padding-top: 12px !important;
		img{
			width: 23px !important;
		}
	}
	.color-box span {
		width: 24px;
		height: 24px;
		margin-right: 5px;
	}
	.back-head{
		background: none !important;
		width: inherit !important;
		margin-left: 20px;
		margin-right: 15px;
		margin-top: 6px !important;
		padding: 0 !important;
		float: right;
		img{
			width: 40px;
		}
	}
	form.filed .form-group input{
		font-size: 14px !important;
	}
	.link-back b{
		font-size: 14px !important;
	}
	.border-none{
		b{
			font-size: 14px;
			margin-top: 10px;
		}
	}
	.form-flex{
		b{
			font-size: 14px;
		}
	}
	.mt50 {
		margin-top: 12px;
	}
	.description-frontend{
		margin-top: 200px !important;
		p{
			font-size: 16px !important;
		}
		h3{
			font-size: 25px !important;
		}
	}
	.code-authentication{
		button{
			&.btn-code-authentication{
				margin-top: 100px;
			}
		}
	}
	form.filed .form-group .logo-filed-form img {
		width: 32px !important;
		height: 32px !important;
		margin-right: 10px !important;
	}
	.content-profil-left {
		padding: 20px;
	}
	.item-profil b {
		font-size: 26px;
	}
	.item-profil img {
		top: 6px;
		width: 40px;
	}
	.item-profil span {
		font-size: 14px;
	}
	.btn-profil {
		height: 45px;
		padding: 9px 0;
	}
	.content-profil-right .btn-profil {
		height: 45px;
		padding: 8px 35px;
	}
	.btn-profil a, .btn-profil button {
		font-size: 16px !important;
	}
	.content-profil-right p {
		font-size: 14px;
	}
	
	.qrcode{
		.img-qrcode{
			img{
				right: 30px;
				height: 160px;
			}
		}
	}
	.logo-filed-form img {
		margin-right: 15px;
		width: 50px;
	}
	button.btn-submit{
		height: 45px;
		width: 100%;
		max-width: 368px;
		display: inline-block;
		background: $blue;
		font-size: 16px;
		font-weight: bold;
		text-align: center;
		border-radius: 24.79px;
		margin-top: 43px;
		color: white !important;
		&:disabled{
			background: #AFAFAF !important;
			&:hover{
				color: white !important;
			}
		}
		&:hover{
			background: #f3f2dc;
			color: #677692 !important;
		}
	}
	.popup-showup-content{
		width: 90% !important;
	}
	.list-content-legal{
		display: inline-block;
		padding: 0 100px;
		position: relative;
		width: 100%;
		&::before{
			width: 2px;
			height: 100%;
			content: '';
			display: block;
			position: absolute;
			bottom: 0;
			left: 54px;
			background: $blue;
		}
		.item-legal{
			h6{
				font-size: 20px;
			}
			p{
				font-size: 16px;
			}
		}
	}
}



